<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="row">
	
	<div class="col-sm-9">
		<div>
			<h4>{{'userActivityTitle' | translate}}  <small>{{searchMessage}}</small></h4>
			<div ng-if="results.results.length < 1">{{'noResults' | translate}}</div>
			<div ng-if="results.results.length > 0">
				<table class="table table-hover table-condensed">
					<tr>
						<th>{{'type' | translate}}</th>
						<th>{{'user' | translate}}</th>
						<th>{{'date' | translate}}</th>
						<th></th>
					</tr>
					<tr ng-repeat="result in results.results">
						<td>{{'userActivity.' + result.type | translate}}</td>
						<td><a href="#/admin/users/id/{{result.user.id}}">{{result.user.name}}</a></td>
						<td>{{result.date}}</td>
						<td><a href="#/admin/user-activity/id/{{result.id}}"><span class="glyphicon glyphicon-search"></span></a></td>
					</tr>
				</table>
				<pagination total-items="results.totalItems" page="results.currentPage" items-per-page="results.itemsPerPage"
					on-select-page="setPage(page)"
					max-size="10" boundary-links="true" first-text="Primero" previous-text="Anterior"
					next-text="Siguiente" last-text="&Uacute;ltimo"></pagination>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div>
			<h4>{{'filterResults' | translate}}</h4>
			<form role="form">
				<div class="form-group">
					<label>{{'user' | translate}}</label>
					<input type="text" class="form-control" ng-model="searchOptions.name" />
				</div>
				<div class="form-group">
					<label>{{'type' | translate}}</label>
					<div select-enum ng-model="searchOptions.type" enum-name="userActivity" is-read-only="false"></div>
				</div>
				
				<div class="form-group">
					<label>{{'dateFrom' | translate}}</label>
					<div class="input-group col-sm-12">
						<div date ng-model="searchOptions.from"></div>
					</div>
				</div>
				<div class="form-group">
					<label>{{'dateTo' | translate}}</label>
					<div class="input-group col-sm-12">
						<div date ng-model="searchOptions.to"></div>
					</div>
				</div>
				<button class="btn btn-primary btn-sm" ng-click="search()">{{'search' | translate}}</button>
				<button class="btn btn-primary btn-sm" ng-click="reset()">{{'reset' | translate}}</button>
			</form>
		</div>
	</div>
</div>	
</body>
</html>