<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF8">
</head>
<body>
<div class="row">

	<div class="col-sm-9">

		<h4>{{'userActivityDetailTitle' | translate}}</h4>

		<div class="m-top-15">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'user' | translate}}</label>
					<div class="col-sm-10">
						<input type='text' class="form-control" ng-model="entity.user.name" ng-readonly="true" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'type' | translate}}</label>
					<div class="col-sm-10">
						<input type='text' class="form-control" ng-model="entity.type" ng-readonly="true" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'date' | translate}}</label>
					<div class="col-sm-10">
						<input type='text' class="form-control" ng-model="entity.date" ng-readonly="true">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'inputData' | translate}}</label>
					<div class="col-sm-10">
						<textarea class="form-control" ng-model="entity.data" ng-readonly="true" rows=15></textarea>
					</div>
				</div>
			</form>
		</div>

	</div>
	
	<!-- Menu lateral de opciones -->
	<div class="col-sm-3">
		<div class="m-top-40">
			<h4>{{'userActivityDetailTitle' | translate}}</h4>
			<ul class="list-unstyled">
				<li><a href="#/admin/user-activity">{{'userActivityViewAll' | translate}}</a>
				<li><a href="#/admin/user-activity?user={{entity.user.id}}">{{'userActivityViewByUser' | translate}}</a>
			</ul>
		</div>
	</div>
</div>
</html>