<div class="row">

	<div class="col-sm-9">
		
		<h4>{{'alertReceivers' | translate}}</h4>
		
		<message-error-panel ng-model="message" auto-close="true"></message-error-panel>
		
		<div ng-if="results.results.length < 1">{{'noResults' | translate}}</div>
		<div ng-if="results.results.length > 0">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>{{'email' | translate}}</th>
						<th>{{'alertLevel' | translate}}</th>
						<th>{{'disabled' | translate}}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="animate-pagination" ng-repeat="result in results.results">
						<td>{{result.email}}</td>
						<td>{{'alertLevel.' + result.level | translate}}</td>
						<td><span ng-if="result.disabled" class="glyphicon glyphicon-ok"></span></td>
						<td>
							<a class="btn btn-warning btn-sm" href="#/admin/alert-management/id/{{result.id}}">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<search-result-pagination></search-result-pagination>
		<div class="pull-right">
			<a href="#/admin/alert-management/new">
				<h1>
					<span class="glyphicon glyphicon-plus-sign text-primary" aria-hidden="true"></span>
				</h1>
			</a>
		</div>

	</div>

	<div class="col-sm-3">
		<div class="m-top-40">
			<h4>{{'admin' | translate}}</h4>
			<ul class="list-unstyled">
				<li><a href="#/admin/recalculate/bill">{{'billRecalculation' | translate}}</a></li>
				<li><a href="#/admin/user-activity">{{'userActivityTitle' | translate}}</a></li>
				<li><a href="#/admin/scheduler">{{'scheduler' | translate}}</a></li>
			</ul>
		</div>
	</div>

</div>
