<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>

<div class="row">
	<div class="col-sm-9">
		<h4>
			<span class="glyphicon glyphicon-file text-muted"></span>
			<span>{{'bills' | translate}} <small>{{searchMessage}}</small></span>
		</h4>
		<div ng-if="results.results.length < 1">{{'noResults' | translate}}</div>
		<div ng-if="results.results.length > 0">
			<table class="table table-hover table-condensed">
				<tr>
					<th>{{'number' | translate}}</th>
					<th>{{'store' | translate}}</th>
					<th>{{'company' | translate}}</th>
					<th>{{'state' | translate}}</th>
					<th>{{'date' | translate}}</th>
					<th>{{'type' | translate}}</th>
					<th>{{'amount' | translate}}</th>
					<th></th>
				</tr>
				<tr ng-repeat="result in results.results">
					<td><a href="#/bills/id/{{result.id}}">{{result.code != null ? result.code : 'Borrador'}}</a></td>
					<td>{{ result.sender.name | limitTo: 18 }}{{result.sender.name.length > 18 ? '...' : ''}}</td>
					<td>{{ result.receiver.name | limitTo: 18 }}{{result.receiver.name.length > 18 ? '...' : ''}}</td>
					<td>
						<center>
							<span ng-if="result.currentState.stateDefinition.id == 'Draft'" class="glyphicon glyphicon-exclamation-sign text-danger" title="Borrador"></span>
							<span ng-if="result.currentState.stateDefinition.id == 'Rectified'" class="glyphicon glyphicon-fire text-danger" title="Rectificada"></span>
						</center>
					</td>
					<td>{{result.billDate.substr(0,10)}}</td>
					<td>{{result.billType.desc}}</td>
					<td class="data-amount">{{result.amount}}</td>
					<td><a href="#/bills/id/{{result.id}}"><span class="glyphicon glyphicon-search"></span></a></td>
				</tr>
			</table>
			<pagination total-items="results.totalItems" page="results.currentPage" items-per-page="results.itemsPerPage" on-select-page="setPage(page)"
				max-size="10" boundary-links="true" first-text="Primero" previous-text="Anterior" next-text="Siguiente" last-text="&Uacute;ltimo"></pagination>
		</div>
		<!--
		<pre>{{searchOptions|json}}</pre>
		-->
	</div>

	<div class="col-sm-3">
		<div>
			<h4>{{'filterResults' | translate}}</h4>
			<form role="form">
				<div class="form-group">
					<label>{{'code' | translate}}</label>
					<input type="text" class="form-control" ng-model="searchOptions.code" />
				</div>
				<div class="form-group">
					<label>{{'store' | translate}}</label>
					<div store ng-model="searchOptions.store"></div>
				</div>
				<div class="form-group">
					<label>{{'company' | translate}}</label>
					<div company ng-model="searchOptions.company"></div>
				</div>
				<div class="form-group">
					<label>{{'state' | translate}}</label>
					<select class="selectpicker form-control input-sm" ng-model="searchOptions.state">
						<option value=""></option>
						<option value="Draft">Borradores</option>
						<option value="Confirmed">Confirmadas</option>
						<option value="Sent">Enviadas</option>
						<option value="Rectified">Rectificadas</option>
					</select>
				</div>
				<div class="form-group">
					<label>{{'dateFrom' | translate}}</label>
					<div class="input-group col-sm-12">
						<div calendar ng-model="searchOptions.from" require="false"></div>
					</div>
				</div>
				<div class="form-group">
					<label>{{'dateTo' | translate}}</label>
					<div class="input-group col-sm-12">
						<div calendar ng-model="searchOptions.to" require="false"></div>
					</div>
				</div>
				<div class="form-group">
					<label>Importe m&iacute;nimo</label>
					<input type="text" class="form-control input-sm data-amount" ng-model="searchOptions.min" />
				</div>
				<div class="form-group">
					<label>Importe m&aacute;ximo</label>
					<input type="text" class="form-control input-sm data-amount" ng-model="searchOptions.max" />
				</div>
				<button class="btn btn-primary btn-sm" ng-click="search()">Buscar</button>
				<button class="btn btn-primary btn-sm" ng-click="reset()">Reset</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>