<div>
	<div class="row">
		<div class="col-sm-9">
		
			<message-error-panel ng-model="message"></message-error-panel>

			<h4>
				<span class="glyphicon glyphicon-file text-muted"></span>
				<span>{{'bill' | translate}}</span>
			</h4>
			<div>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label input-sm">{{'sender' | translate}}</label>
						<div class="col-sm-4">
							<div class=" input-group">
								<div store ng-model="entity.sender" locked="isReadOnly"></div>
								<span class="input-group-addon input-sm"> <a
									href="#/stores/id/{{entity.sender.id}}"> <span class="glyphicon glyphicon-search"></span>
								</a>
								</span>
							</div>
						</div>
						<label class="col-sm-2 control-label input-sm">{{'receiver' | translate}}</label>
						<div class="col-sm-4">
							<div class=" input-group">
								<div company ng-model="entity.receiver" is-read-only="isReadOnly"></div>
								<span class="input-group-addon input-sm">
									<a href="#/companies/id/{{entity.receiver.id}}"> <span class="glyphicon glyphicon-search"></span>
								</a>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label input-sm">{{'number' | translate}}</label>
						<div class="col-sm-4">
							<input type='text' class="form-control" ng-model="entity.code" ng-readonly="isReadOnly" />
						</div>
						<label class="col-sm-2 control-label input-sm">{{'date' | translate}}</label>
						<div class="col-sm-4">
							<input type="text" class="form-control data-date" datepicker-popup="{{dateFormat}}" ng-model="entity.billDate" ng-readonly="isReadOnly"
								ng-required="false" show-weeks="false" current-text="Hoy" close-text="Cerrar" toggle-weeks-text="Semanas" clear-text="Borrar"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label input-sm">{{'dateFrom' | translate}}</label>
						<div class="col-sm-4">
							<input type="text" class="form-control data-date" datepicker-popup="{{dateFormat}}" ng-model="entity.dateFrom" ng-readonly="isReadOnly"
								ng-required="false" show-weeks="false" current-text="Hoy" close-text="Cerrar" toggle-weeks-text="Semanas" clear-text="Borrar"/>
						</div>
						<label class="col-sm-2 control-label input-sm">{{'dateTo' | translate}}</label>
						<div class="col-sm-4">
							<input type="text" class="form-control data-date" datepicker-popup="{{dateFormat}}" ng-model="entity.dateTo" ng-readonly="isReadOnly"
								ng-required="false" show-weeks="false" current-text="Hoy" close-text="Cerrar" toggle-weeks-text="Semanas" clear-text="Borrar"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label input-sm">{{'model' | translate}}</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type='text' class="form-control" ng-model="entity.model" ng-readonly="isReadOnly" typeahead="model as model.name for model in models($viewValue)" />								 
								<span class="input-group-addon">
									<a href="#/models/id/{{entity.model.id}}"><span class="glyphicon glyphicon-search"></span></a>
								</span>
							</div>
						</div>
						<label class="col-sm-2 control-label input-sm">{{'state' | translate}}</label>
						<div class="col-sm-4">
							<input type='text' class="form-control" ng-model="entity.currentState.stateDefinition.desc" ng-readonly="true" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label input-sm">{{'type' | translate}}</label>
						<div class="col-sm-4">
							<input type='text' class="form-control" ng-model="entity.billType.desc" ng-readonly="true" />
						</div>
						<label class="col-sm-2 control-label input-sm">Ordinaria</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type='text' class="form-control" ng-model="entity.parent.code" ng-readonly="true" />
								<span class="input-group-addon">
									<a href="#/bills/id/{{entity.parent.id}}"><span class="glyphicon glyphicon-search"></span></a>
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<div class="m-top-40">
				<ul class="nav nav-tabs">
					<li class="active">
						<a data-target="#liquidationDetailTab" data-toggle="tab">
							<span>{{'liquidationDetails' | translate}}</span>
							<span ng-if="entity.liquidationTotalAmount > 0">({{entity.liquidationTotalAmount}})</span>
						</a>
					</li>
					<li>
						<a data-target="#detailTab" data-toggle="tab">
							<span>{{'bill' | translate}}</span>
							<span>({{entity.amount}})</span>
						</a>
					</li>
					<li><a data-target="#ownerTab" data-toggle="tab">{{'owner' | translate}}</a></li>
					<li><a data-target="#commentsTab" data-toggle="tab">{{'comments' | translate}}</a></li>
					<li><a data-target="#commentsPdfTab" data-toggle="tab">Comentarios PDF</a></li>
					<li><a data-target="#advancedInfoTab" data-toggle="tab">Raw</a></li>
					<li><a data-target="#auditTab" data-toggle="tab">Auditor&iacute;a</a></li>
				</ul> 				
				<div class="tab-content">
				
					<!-- Pestaña de detalles de liquidacion -->
					<div class="tab-pane active" id="liquidationDetailTab">
						<div class="m-top-15">
							<table class="table">
								<tr class="active">
									<th>Concepto</th>
									<th class="data-amount">Unidades</th>
									<th class="data-amount">Base</th>
									<th class="data-amount">IVA</th>
									<th class="data-amount">Total</th>
									<th></th>
								</tr>
								<tr ng-repeat="detail in entity.liquidationDetails | filter: {liquidationIncluded: true}" ng-if="detail.concept != 'MANUAL'">
									<td>{{detail.name}}</td>
									<td class="data-amount">{{detail.units}}</td>
									<td class="data-amount">{{detail.netValue}}</td>
									<td class="data-amount">{{detail.vatValue}}</td>
									<td class="data-amount">{{detail.value}}</td>
									<td></td>
								</tr>
								<tr ng-repeat="detail in entity.liquidationDetails | filter: {liquidationIncluded: true}" ng-if="detail.concept == 'MANUAL'">
									<td>{{detail.name}}</td>
									<td class="data-amount">{{detail.units}}</td>
									<td class="data-amount">{{detail.netValue}}</td>
									<td class="data-amount">{{detail.vatValue}}</td>
									<td class="data-amount">{{detail.value}}</td>
									<td>
										<a ng-if="entity.currentState.stateDefinition.id == 'Draft'" ng-click="editLiquidationDetail(detail.id)">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
									</td>
								</tr>
								<tr class="active">
									<td><b>Total</b></td>
									<td></td>
									<td></td>
									<td></td>
									<td class="data-amount"><b>{{entity.liquidationTotalAmount}}</b></td>
									<td></td>
								</tr>
								<tr ng-repeat="i in entity.billRawData | filter: { concept: 'Credit' }">
									<td><b>Crédito</b></td>
									<td></td>
									<td></td>
									<td></td>
									<td class="data-amount"><b>{{i.amount}}</b></td>
									<td></td>
								</tr>
								<tr>
									<td><b>Saldo de caja</b></td>
									<td></td>
									<td></td>
									<td></td>
									<td class="data-amount"><b>{{entity.storeCash}}</b></td>
									<td></td>
								</tr>
								<tr class="active" ng-if="entity.liquidationOuterAmount > 0">
									<td colspan="4"><b>Ajustes fuera de liquidación</b></td>
									<td class="data-amount"><b>{{entity.liquidationOuterAmount}}</b></td>
									<td></td>
								</tr>
								<tr ng-repeat="detail in entity.liquidationDetails | filter: {liquidationIncluded: false}">
									<td>{{detail.name}}</td>
									<td class="data-amount">{{detail.units}}</td>
									<td class="data-amount">-</td>
									<td class="data-amount">-</td>
									<td class="data-amount">{{detail.value}}</td>
									<td>
										<a ng-if="entity.currentState.stateDefinition.id == 'Draft'" ng-click="editLiquidationDetail(detail.id)">
											<span class="glyphicon glyphicon-pencil"></span>
										</a>
									</td>
								</tr>
							</table>
							<div class="btn-toolbar m-top-40" role="toolbar">
								<button ng-click="editLiquidationDetail()" ng-if="entity.currentState.stateDefinition.id == 'Draft'" class='btn btn-sm btn-primary' ng-disabled="isSaving">{{'addAdjustment' | translate}}</button>
								<button ng-click="rectify()" ng-if="entity.currentState.stateDefinition.id == 'Confirmed'" class='btn btn-sm btn-primary' ng-disabled="isSaving">Rectificar</button>
								<a class="btn btn-primary btn-sm" ng-if="entity.currentState.stateDefinition.id == 'Draft' || entity.currentState.stateDefinition.id == 'Initial'" href="rest/bills/draft/{{entity.id}}" role="button" ng-disabled="isSaving">Consultar borrador</a>
								<a class="btn btn-primary btn-sm" ng-if="entity.currentState.stateDefinition.id != 'Draft' && entity.currentState.stateDefinition.id != 'Cancelled' && entity.currentState.stateDefinition.id != 'Initial'" href="rest/binary/download/{{entity.pdfFile.id}}" role="button" ng-disabled="isSaving">Descargar</a>
								<button ng-click="draft()" ng-if="entity.currentState.stateDefinition.id == 'Confirmed' || entity.currentState.stateDefinition.id == 'Sent' || entity.currentState.stateDefinition.id == 'Rectified'" class='btn btn-sm btn-primary' ng-disabled="isSaving">Draft</button>
								<button ng-click="confirm()" ng-if="entity.currentState.stateDefinition.id == 'Draft'" class='btn btn-sm btn-success pull-right' ng-disabled="isSaving">Aceptar borrador</button>
								<button ng-click="recalculate()" ng-if="entity.currentState.stateDefinition.id == 'Draft' || entity.currentState.stateDefinition.id == 'Initial'" class='btn btn-sm btn-success pull-right' ng-disabled="isSaving" >Recalcular</button>
								<button ng-click="editSendMail()" ng-if="entity.currentState.stateDefinition.id == 'Confirmed' || entity.currentState.stateDefinition.id == 'Sent'" class='btn btn-sm btn-success pull-right' ng-disabled="isSaving">Enviar</button>
							</div>
						</div>
					</div>
				
					<!-- Pestaña de detalles de la factura -->
					<div class="tab-pane" id="detailTab">
						<div class="m-top-15">
							<div class="col-sm-12">
								<table class="table">
									<tr>
										<th>Concepto</th>
										<th class="data-amount" title="Ajuste operativo">Ajuste Op.</th>
										<th class="data-amount">Unidades</th>
										<th class="data-amount">Importe</th>
										<th></th>
									</tr>
									<tr ng-repeat="detail in entity.billDetails">
										<td>{{detail.name}}</td>
										<td class="data-amount"><span ng-if="detail.concept = Adjustment">Si</span></td>
										<td class="data-amount">{{detail.units}}</td>
										<td class="data-amount">{{detail.value}}</td>
										<td>
											<a ng-click="editDetail(detail.id)" href="" ng-if="entity.currentState.stateDefinition.id == 'Draft'">
												<span class="glyphicon glyphicon-pencil"></span>
											</a>
										</td>
									</tr>
									<tr>
										<td><b>Base</b></td>
										<td></td>
										<td></td>
										<td class="data-amount"><b>{{entity.netAmount}}</b></td>
										<td></td>
									</tr>
									<tr>
										<td><b>IVA ({{entity.vatPercent}} %)</b></td>
										<td></td>
										<td></td>
										<td class="data-amount"><b>{{entity.vatAmount}}</b></td>
										<td></td>
									</tr>
									<tr>
										<td><b>Total</b></td>
										<td></td>
										<td></td>
										<td class="data-amount"><b>{{entity.amount}}</b></td>
										<td></td>
									</tr>
								</table>
								<div class="btn-toolbar m-top-40" role="toolbar">
									<button ng-click="editDetail()" ng-if="entity.currentState.stateDefinition.id == 'Draft'" class='btn btn-sm btn-primary' ng-disabled="isSaving">{{'addBillDetail' | translate}}</button>
								</div>
							</div>
						</div>
					</div>
					
					<!-- Pestaña de titular del establecimiento -->
					<div class="tab-pane" id="ownerTab">
						<div ng-include src="'templates/entity-owner-tab.html'"></div>
					</div>
					
					<!-- Pestaña de observaciones -->
					<div class="tab-pane" id="commentsTab">
						<div class="m-top-15">
							<textarea class="form-control" rows="5" ng-model="entity.comments" ng-readonly="isReadOnly"></textarea>
						</div>
					</div>
					
					<!-- Pestaña de comentarios del PDF -->
					<div class="tab-pane" id="commentsPdfTab">
						<div class="m-top-15">
							<textarea class="form-control" rows="5" ng-model="entity.commentsPdf" ng-readonly="isReadOnly"></textarea>
						</div>
					</div>
					
					<div class="tab-pane" id="advancedInfoTab">
						<div class="m-top-15">
							<table>
								<thead>
									<tr>
										<td><b>Concepto</b></td>
										<td class="data-amount"><b>Importe</b></td>
									</tr>
								<thead>
								<tbody>
									<tr ng-repeat="i in entity.billRawData">
										<td>{{'concept.' + i.concept | translate}}</td>
										<td></td>
										<td class="data-amount">{{i.amount}}</td>
										<td></td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					
					<div class="tab-pane" id="auditTab">
						<div ng-include src="'templates/entity-audit-info.html'"></div>
					</div>
					
				</div>
			</div>
		</div>

		<!-- Menu lateral -->
		<div class="col-sm-3">
			<div ng-include src="'templates/entity-toolbar.html'"></div>
			<div class="m-top-40">
				<h4>Facturación</h4>
				<ul class="list-unstyled">
					<li><a href="#/bills">Ver facturas</a></li>
					<li><a href="#/bills?store={{entity.sender.id}}">Ver facturas de este establecimiento</a></li>
					<li><a href="#/bills?state=Draft">Ver facturas pendientes</a></li>
				</ul>
				<div ng-if="entity.liquidation != null">
					<h4>Liquidaci&oacute;n</h4>
					<ul class="list-unstyled">
						<li><a href="#/liquidations/id/{{entity.liquidation.id}}">Ver liquidaci&oacute;n de esta factura</a></li>
					</ul>
				</div>
			</div>
			<div ng-include src="'templates/entity-json-popup.html'"></div>
		</div>
	</div>
	<div add-bill-liquidation-detail bill="entity" detail="billLiquidationDetail" message="message" is-saving="isSaving"></div>
	<div add-bill-detail bill="entity" detail="billDetail" message="message"></div>
	<div ng-include src="'templates/bill-modal-detail.html'"></div>
	<div ng-include src="'templates/bill-modal-email.html'"></div>
</div>
