<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF8">
</head>
<body>
<div class="row">

	<div class="col-sm-9">
		<div id="alertContainer"></div>
		<h4>Titular</h4>
		<form class="form-horizontal" role="form">
			<div class="form-group">
				<label class="col-sm-2 control-label input-sm">Nombre</label>
				<div class="col-sm-4">
					<input type='text' class="form-control" ng-model="entity.name" ng-readonly="isReadOnly" />
				</div>
				<label class="col-sm-2 control-label input-sm">NIF</label>
				<div class="col-sm-4">
					<input type='text' class="form-control" ng-model="entity.idCard.number" ng-readonly="isReadOnly" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label input-sm">Primer apellido</label>
				<div class="col-sm-4">
					<input type='text' class="form-control" ng-model="entity.firstSurname" ng-readonly="isReadOnly" />
				</div>
				<label class="col-sm-2 control-label input-sm">Segundo apellido</label>
				<div class="col-sm-4">
					<input type='text' class="form-control" ng-model="entity.secondSurname" ng-readonly="isReadOnly" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label input-sm">Tel&eacute;fono</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" ng-model="entity.phoneNumber" ng-readonly="isReadOnly" />
				</div>
				<label class="col-sm-2 control-label input-sm">Email</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" ng-model="entity.email" ng-readonly="isReadOnly" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label input-sm">Provincia</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" ng-model="entity.address.province" typeahead="province as province.name for province in provinces($viewValue)" ng-readonly="isReadOnly" />
				</div>
				<label class="col-sm-2 control-label input-sm">Localidad</label>
				<div class="col-sm-4">
					<input type='text' class="form-control" ng-model="entity.address.region" typeahead="region as region.name for region in regions($viewValue, entity.address.province.id)" ng-readonly="isReadOnly" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label input-sm">Direcci&oacute;n</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" ng-model="entity.address.road" ng-readonly="isReadOnly" />
				</div>
				<label class="col-sm-2 control-label input-sm">N&uacute;mero</label>
				<div class="col-sm-4">
					<input type='text' class="form-control" ng-model="entity.address.number" ng-readonly="isReadOnly" />
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label input-sm">C&oacute;digo postal</label>
				<div class="col-sm-4">
					<input type="text" class="form-control" ng-model="entity.address.zipCode" ng-readonly="isReadOnly" />
				</div>
			</div>
		</form>
		<div class="m-top-40">
			<ul class="nav nav-tabs">
				<li class="active"><a data-target="#storesTab" data-toggle="tab">Locales</a></li>
				<li><a data-target="#commentsTab" data-toggle="tab">Observaciones</a></li>
				<li><a data-target="#auditTab" data-toggle="tab">Auditor&iacute;a</a></li>
			</ul>
			<div class="tab-content">
				<!-- Tab de los locales asociados al titular -->
				<div class="tab-pane active" id="storesTab">
					<div ng-include src="'templates/store-list.html'"></div>
				</div>
				<!-- Tab de observaciones -->
				<div class="tab-pane" id="commentsTab">
					<div class="m-top-15">
						<textarea class="form-control" rows="3" ng-model="entity.comments" ng-readonly="isReadOnly"></textarea>
					</div>
				</div>
				<!-- Tab de auditoria -->
				<div class="tab-pane" id="auditTab">
					<div ng-include src="'templates/entity-audit-info.html'"></div>
				</div>
			</div>
		</div>
	</div>

	<div class="col-sm-3">
		<div ng-include src="'templates/entity-toolbar.html'"></div>
		<div class="m-top-40">
			<h5>Titulares</h5>
			<ul class="list-unstyled">
				<li><a href="#/owners">Ver titulares</a></li>
				<li><a href="#/owners/new">Nuevo titular</a></li>
			</ul>
		</div>
		<div ng-include src="'templates/entity-json-popup.html'"></div>
	</div>
</div>
</html>