<div class="row">

	<div class="col-sm-9">

		<message-error-panel ng-model="message" auto-close="true"></message-error-panel>

		<h4>{{'user' | translate}}</h4>

		<div class="m-top-15">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'alias' | translate}}</label>
					<div class="col-sm-4">
						<input type='text' class="form-control" ng-model="entity.alias" ng-readonly="isReadOnly">
					</div>
					<label class="col-sm-2 control-label">{{'name' | translate}}</label>
					<div class="col-sm-4">
						<input type='text' class="form-control" ng-model="entity.name" ng-readonly="isReadOnly">
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'email' | translate}}</label>
					<div class="col-sm-4">
						<input type='text' class="form-control" ng-model="entity.email" ng-readonly="isReadOnly">
					</div>
				</div>
				<div class="form-group" ng-if="!isReadOnly">
					<label class="col-sm-2 control-label">{{'password' | translate}}</label>
					<div class="col-sm-4">
						<input type='password' class="form-control" ng-model="entity.passwordDigest" ng-readonly="isReadOnly">
					</div>
					<label class="col-sm-2 control-label">{{'passwordConfirm' | translate}}</label>
					<div class="col-sm-4">
						<input type='password' class="form-control" ng-model="entity.passwordConfirm" ng-readonly="isReadOnly">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-4 col-sm-offset-2">
						<div class="panel panel-default">
							<div class="panel-heading">{{'roles' | translate}}</div>
							<div class="panel-body" ng-repeat="role in entity.roles">
								<div class="pull-left">{{'role.' + role.code | translate}}</div>
								<div class="pull-right" ng-if="!isReadOnly"><a ng-click="removeRole(role)">{{'remove' | translate}}</a></div>
							</div>
							<div class="panel-body" ng-if="entity.roles == null || entity.roles.length < 1">
								<div>{{'user.emptyRoleList' | translate}}</div>
							</div>
						</div>
					</div>
					<div class="col-sm-4 col-sm-offset-2">
						<div class="panel panel-default" ng-if="!isReadOnly">
							<div class="panel-heading">{{'availableRoles' | translate}}</div>
							<div class="panel-body" ng-repeat="role in availableRoles">
								<div class="pull-left">{{'role.' + role.code | translate}}</div>
								<div class="pull-right"><a ng-click="addRole(role)">{{'add' | translate}}</a></div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>

	<div class="col-sm-3">
		<div ng-include src="'templates/entity-toolbar.html'"></div>
		<div class="m-top-40">
			<h4>{{'users' | translate}}</h4>
			<ul class="list-unstyled">
				<li><a href="#/admin/users">Ver todos los usuarios</a>
				<li><a href="#/admin/users">Actividad de este usuario</a>
			</ul>
		</div>
		<div ng-include src="'templates/entity-json-popup.html'"></div>
	</div>
</div>
