<div class="row">

	<div class="col-sm-9">
		
		<h4>{{'users' | translate}}</h4>
		
		<message-error-panel ng-model="message" auto-close="true"></message-error-panel>
		
		<div ng-if="results.results.length < 1">{{'noResults' | translate}}</div>
		<div ng-if="results.results.length > 0">
			<table class="table table-condensed">
				<thead>
					<tr>
						<th>{{'alias' | translate}}</th>
						<th>{{'name' | translate}}</th>
						<th>{{'email' | translate}}</th>
						<th></th>
					</tr>
				</thead>
				<tbody>
					<tr class="animate-pagination" ng-repeat="user in results.results">
						<td>{{user.alias}}</td>
						<td>{{user.name}}</td>
						<td>{{user.email}}</td>
						<td>
							<a class="btn btn-warning btn-sm" href="#/admin/users/id/{{user.id}}">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		
		<search-result-pagination></search-result-pagination>
		<div class="pull-right">
				<a href="#/admin/users/new">
					<h1>
						<span class="glyphicon glyphicon-plus-sign text-primary" aria-hidden="true"></span>
					</h1>
				</a>
			</div>
		
	</div>
	<div class="col-sm-3">
		<div class="m-top-40">
			<h4>{{'filterResults' | translate}}</h4>
			<form role="form">
				<div class="form-group">
					<label>{{'alias' | translate}}</label>
					<input type="text" class="form-control" ng-model="searchOptions.alias" />
				</div>
				<div class="form-group">
					<label>{{'name' | translate}}</label>
					<input type="text" class="form-control" ng-model="searchOptions.name" />
				</div>
				<button class="btn btn-primary btn-sm" ng-click="search()">{{'search' | translate}}</button>
				<button class="btn btn-primary btn-sm" ng-click="reset()">{{'reset' | translate}}</button>
			</form>
			<h4>{{'admin' | translate}}</h4>
			<ul class="list-unstyled">
				<li><a href="#/admin/recalculate/bill">{{'billRecalculation' | translate}}</a></li>
				<li><a href="#/admin/user-activity">{{'userActivityTitle' | translate}}</a></li>
				<li><a href="#/admin/scheduler">{{'scheduler' | translate}}</a></li>
			</ul>
		</div>
	</div>
</div>
