<div class="row">

	<div class="col-sm-9">
		
		<h4>{{'users' | translate}}</h4>
		
		<message-error-panel ng-model="message" auto-close="true"></message-error-panel>
		
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>{{'alias' | translate}}</th>
					<th>{{'name' | translate}}</th>
					<th>{{'email' | translate}}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="animate-pagination" ng-repeat="user in results.results">
					<td>{{user.alias}}</td>
					<td>{{user.name}}</td>
					<td>{{user.email}}</td>
					<td class="vert-align">
						<a class="btn btn-warning btn-sm" href="#/admin/users/id/{{user.id}}">
							<span class="glyphicon glyphicon-edit"></span>
						</a>
						<!--
						<button type="button" class="btn btn-warning btn-sm" ng-click="edit(task)">
							<span class="glyphicon glyphicon-edit"></span>
						</button>
						-->
					</td>
				</tr>
			</tbody>
		</table>
	</div>
	<div class="col-sm-3">
		<div class="m-top-40">
			<h4>{{'admin' | translate}}</h4>
			<ul class="list-unstyled">
				<li><a href="#/admin/recalculate/bill">{{'billRecalculation' | translate}}</a></li>
				<li><a href="#/admin/user-activity">{{'userActivityTitle' | translate}}</a></li>
				<li><a href="#/admin/scheduler">{{'scheduler' | translate}}</a></li>
			</ul>
		</div>
	</div>
</div>
