<div class="row">
	<div class="col-sm-9">

		<h4>{{'billingModels' | translate}} <small>{{searchMessage}}</small></h4>

		<div>
			
			<div ng-if="results.results.length < 1">{{'noResults' | translate}}</div>
			<div ng-if="results.results.length > 0">
				<table class="table table-hover table-condensed">
					<tr>
						<th>{{'name' | translate}}</a></th>
						<th>{{'stakes' | translate}}</th>
						<th>{{'GGR' | translate}}</th>
						<th>{{'NGR' | translate}}</th>
						<th>{{'NR' | translate}}</th>
						<th>{{'SAT' | translate}}</th>
						<th></th>
					</tr>
					<tr ng-repeat="model in results.results">
						<td><a href="#/models/id/{{model.id}}">{{model.name}}</a></td>
						<td class="data-amount">{{model.companyModel.stakesPercent}}</td>
						<td class="data-amount">{{model.companyModel.ggrPercent}}</td>
						<td class="data-amount">{{model.companyModel.ngrPercent}}</td>
						<td class="data-amount">{{model.companyModel.nrPercent}}</td>
						<td class="data-amount">{{model.companyModel.satMonthlyFees}}</td>
						<td>
							<a class="btn btn-warning btn-sm" href="#/models/id/{{model.id}}">
								<span class="glyphicon glyphicon-edit"></span>
							</a>
						</td>
					</tr>
				</table>
			</div>
			
			<div search-result-pagination></div>
			<div class="pull-right">
				<h1>
					<a href="#/models/new">
						<span class="glyphicon glyphicon-plus-sign text-primary" aria-hidden="true"></span>
					</a>
				</h1>
			</div>
			
		</div>
	</div>
	
	<div class="col-sm-3">
		<h4>{{'filterResults' | translate}}</h4>
		<form role="form">
			<div class="form-group">
				<label>{{'name' | translate}}</label>
				<input type='text' class="form-control" ng-model="searchOptions.name" />
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label><input type="checkbox" ng-model="searchOptions.showDeleted">{{'model.showDeleted' |  translate}}</label>
				</div>
			</div>
			<button ng-click="search()" class='btn btn-sm btn-primary'>{{'search' | translate}}</button>
			<button ng-click="reset()" class='btn btn-sm btn-primary'>{{'reset' | translate}}</button>
		</form>
	</div>
</div>