<div class="row">
	<div class="col-sm-9">
		<h4>
			<span class="glyphicon glyphicon-file text-muted"></span>
			<span>{{'bills' | translate}} <small>{{searchMessage}}</small></span>
		</h4>
		<div ng-if="results.results.length < 1">{{'noResults' | translate}}</div>
		<div ng-if="results.results.length > 0">
			<table class="table table-hover table-condensed">
				<tr>
					<th>{{'store' | translate}}</th>
					<th>{{'company' | translate}}</th>
					<th>{{'code' | translate}}</th>
					<th>{{'state' | translate}}</th>
					<th>{{'date' | translate}}</th>
					<th>{{'type' | translate}}</th>
					<th>{{'amount' | translate}}</th>
					<th></th>
				</tr>
				<tr ng-repeat="result in results.results">
					<td><a href="#/bills/id/{{result.id}}">{{ result.sender.name | limitTo: 18 }}{{result.sender.name.length > 18 ? '...' : ''}}</a></td>
					<td><a href="#/bills/id/{{result.id}}">{{ result.receiver.name | limitTo: 18 }}{{result.receiver.name.length > 18 ? '...' : ''}}</a></td>
					<td>{{result.code != null ? result.code : 'Borrador'}}</a></td>
					<td>
						<center>
							<span ng-if="result.currentState.stateDefinition.id == 'Draft'" class="glyphicon glyphicon-exclamation-sign text-danger" title="Borrador"></span>
							<span ng-if="result.currentState.stateDefinition.id == 'Rectified'" class="glyphicon glyphicon-fire text-danger" title="Rectificada"></span>
						</center>
					</td>
					<td>{{result.billDate.substr(0,10)}}</td>
					<td>{{result.billType.desc}}</td>
					<td class="data-amount">{{result.amount}}</td>
					<td><a href="#/bills/id/{{result.id}}"><span class="glyphicon glyphicon-search"></span></a></td>
				</tr>
			</table>
			<search-result-pagination></search-result-pagination>
		</div>
	</div>

	<div class="col-sm-3">
		<div>
			<h4>{{'filterResults' | translate}}</h4>
			<form role="form">
				<div class="form-group">
					<label>{{'code' | translate}}</label>
					<input type="text" class="form-control" ng-model="searchOptions.code" />
				</div>
				<div class="form-group">
					<label>{{'store' | translate}}</label>
					<div store ng-model="searchOptions.store"></div>
				</div>
				<div class="form-group">
					<label>{{'company' | translate}}</label>
					<div company ng-model="searchOptions.company"></div>
				</div>
				<div class="form-group">
					<label>{{'state' | translate}}</label>
					<div select-enum ng-model="searchOptions.state" enum-name="state"></div>
				</div>
				<div class="form-group">
					<label>{{'dateFrom' | translate}}</label>
					<div class="input-group col-sm-12">
						<div date ng-model="searchOptions.from" require="false"></div>
					</div>
				</div>
				<div class="form-group">
					<label>{{'dateTo' | translate}}</label>
					<div class="input-group col-sm-12">
						<div date ng-model="searchOptions.to" require="false"></div>
					</div>
				</div>
				<button class="btn btn-primary btn-sm" ng-click="search()">{{'search' | translate}}</button>
				<button class="btn btn-primary btn-sm" ng-click="reset()">{{'reset' | translate}}</button>
			</form>
		</div>
	</div>
</div>
