<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="row">
	<div class="col-sm-9">
		<h4>{{'billingModels' | translate}} <small>{{searchMessage}}</small></h4>
		<div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="result in results.results">
					<div>
						<a href="#/models/id/{{result.id}}">{{result.name}}</a>
					</div>
				</li>
			</ul>
			<div class="pull-right">
				<a href="#/models/new">{{'addBillingModel' | translate}}</a>
			</div>
			<pagination total-items="results.totalItems" page="results.currentPage" items-per-page="results.itemsPerPage" on-select-page="setPage(page)" max-size="10" boundary-links="true" first-text="Primero" previous-text="Anterior" next-text="Siguiente" last-text="&Uacute;ltimo"></pagination>
		</div>
	</div>
	
	<div class="col-sm-3">
		<h4>{{'filterResults' | translate}}</h4>
		<form role="form">
			<div class="form-group">
				<label>{{'name' | translate}}</label>
				<input type='text' class="form-control" ng-model="searchOptions.name" />
			</div>
			<div class="form-group">
				<div class="checkbox">
					<label><input type="checkbox" ng-model="searchOptions.showDeleted">{{'model.showDeleted' |  translate}}</label>
				</div>
			</div>
			<button ng-click="search()" class='btn btn-sm btn-primary'>{{'search' | translate}}</button>
			<button ng-click="reset()" class='btn btn-sm btn-primary'>{{'reset' | translate}}</button>
		</form>
	</div>

</div>	
</body>
</html>