<div class="row">

	<div class="col-sm-9">
		
		<message-error-panel ng-model="message" auto-close="true"></message-error-panel>

		<h4>{{'companyGroup' | translate}}</h4>

		<div class="m-top-15">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'name' | translate}}</label>
					<div class="col-sm-4">	
						<input type='text' class="form-control" ng-model="entity.name" ng-readonly="isReadOnly" />
					</div>
					<label class="col-sm-2 control-label">{{'cif' | translate}}</label>
					<div class="col-sm-4">
						<input type='text' class="form-control" ng-model="entity.idCard.number" ng-readonly="isReadOnly" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'province' | translate}}</label>
					<div class="col-sm-4">
						<div province ng-model="entity.address.province" is-read-only="isReadOnly"></div>
					</div>
					<label for="inputPassword3" class="col-sm-2 control-label">{{'locality' | translate}}</label>
					<div class="col-sm-4">
						<div region ng-model="entity.address.region" province-id="entity.address.province.id" is-read-only="isReadOnly"></div>
					</div>
				</div>
			</form>
		</div>
		
		
		<div class="m-top-40">
			<ul class="nav nav-tabs">
				<li class="active"><a data-target="#companiesTab" data-toggle="tab">{{'companies' | translate}}</a></li>
				<li><a data-target="#commentsTab" data-toggle="tab">{{'comments' | translate}}</a></li>
				<li><a data-target="#auditTab" data-toggle="tab">{{'auditData' | translate}}</a></li>
			</ul>
	
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="companiesTab">
					<div class="m-top-15">
						<div ng-if="childs == null || childs.results == null || childs.results.length == 0">No hay empresas asociadas a este grupo</div>
						<div ng-if="childs.totalItems > 0">
							<ul class="list-group">
								<li class="list-group-item" ng-repeat="child in childs.results"><a href="#/companies/id/{{child.id}}">{{child.name}}</a></li>
							</ul>
							<pagination total-items="childs.totalItems" page="childs.currentPage" items-per-page="childs.itemsPerPage"
								on-select-page="setCompanyPage(page)" max-size="10" boundary-links="true" first-text="Primero" previous-text="Anterior"
									next-text="Siguiente" last-text="&Uacute;ltimo"></pagination>
						</div>
					</div>
				</div>
				<div class="tab-pane" id="commentsTab">
					<div class="m-top-15">
						<ul class="list-group">
							<textarea class="form-control" rows="3" ng-model="entity.comments" ng-readonly="isReadOnly"></textarea>
						</ul>
					</div>
				</div>
				<div class="tab-pane" id="auditTab">
					<div ng-include="'templates/entity-audit-info.html'"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- Menu lateral de opciones -->
	<div class="col-sm-3">
		<div ng-include src="'templates/entity-toolbar.html'"></div>
		<div class="m-top-40">
			<h4>Grupos</h4>
			<ul class="list-unstyled">
				<li><a href="#/groups">Ver todos los grupos</a>
			</ul>
		</div>
		<div class="m-top-40">
			<h4>Facturaci&oacute;n</h4>
			<ul class="list-unstyled">
				<li><a href="#">Liquidaciones de este grupo</a>
			</ul>
		</div>
		<div ng-include src="'templates/entity-json-popup.html'"></div>
	</div>
</div>
