<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="row">
	
	<div class="col-sm-9">
		<div>
			<h4>{{'companyGroups' | translate}}  <small>{{searchMessage}}</small></h4>
			<div ng-if="results.results.length == 0">{{'noResults' | translate}}</div>
			<ul class="list-group">
				<li class="list-group-item" ng-repeat="group in results.results">
					<a href="#/groups/id/{{group.id}}">{{group.name}}</a>
				</li>
			</ul>
			<div class="pull-right">
				<a href="#/groups/new">{{'addCompanyGroup' | translate}}</a>
			</div>
			<pagination total-items="results.totalItems" page="results.currentPage" items-per-page="results.itemsPerPage" on-select-page="setPage(page)"></pagination>
		</div>
	</div>

	<div class="col-sm-3">
		<div>
			<h4>{{'filterResults' | translate}}</h4>
			<form role="form">
				<div class="form-group">
					<label>{{'name' | translate}}</label>
					<input type="text" class="form-control" ng-model="searchOptions.name" />
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label><input type="checkbox" ng-model="searchOptions.showDeleted">{{'showDeleted' | translate}}</label>
					</div>
				</div>
				<button class="btn btn-primary btn-sm" ng-click="search()">{{'search' | translate}}</button>
				<button class="btn btn-primary btn-sm" ng-click="reset()">{{'reset' | translate}}</button>
			</form>
		</div>
	</div>
</div>	
</body>
</html>