<div class="row">
	<div class="col-sm-9">
		
		<message-error-panel ng-model="message" auto-close="true"></message-error-panel>
		
		<h4>
			<span class="glyphicon glyphicon-list-alt text-muted"></span>
			<span>{{'liquidation' | translate}}</span>
		</h4>
		
		<div>
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'sender' | translate}}</label>
					<div class="col-sm-4">
						<div class=" input-group">
							<input type='text' class="form-control" ng-model="entity.sender.name" ng-readonly="true" /> <span class="input-group-addon input-sm"> <a
								href="#/companies/id/{{entity.sender.id}}"> <span class="glyphicon glyphicon-search"></span>
							</a>
							</span>
						</div>
					</div>
					<label class="col-sm-1 control-label">{{'code' | translate}}</label>
					<div class="col-sm-4">
						<input type='text' class="form-control data-code" ng-model="entity.code" ng-readonly="true" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'receiver' | translate}}</label>
					<div class="col-sm-4">
						<div class=" input-group">
							<input type='text' class="form-control" ng-model="entity.receiver.name" ng-readonly="true" /> <span class="input-group-addon input-sm"> <a
								href="#/companies/id/{{entity.receiver.id}}"> <span class="glyphicon glyphicon-search"></span>
							</a>
							</span>
						</div>
					</div>
					<label class="col-sm-1 control-label">{{'date' | translate}}</label>
					<div class="col-sm-4">
						<div date ng-model="entity.billDate" is-read-only="isReadOnly"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'state' | translate}}</label>
					<div class="col-sm-4">
						<input type='text' class="form-control" ng-model="entity.currentState.stateDefinition.id" ng-readonly="true" />
					</div>
				</div>
			</form>
		</div>

		<div class="m-top-40">
			<ul class="nav nav-tabs">
				<li class="active"><a data-target="#detailTab" data-toggle="tab">{{'bills' | translate}}</a></li>
				<li><a data-target="#commentsTab" data-toggle="tab">{{'comments' | translate}}</a></li>
				<li><a data-target="#commentsPdfTab" data-toggle="tab">{{'commentsPdf' | translate}}</a></li>
			</ul>
			
			<div class="tab-content">
				<div class="tab-pane active" id="detailTab">
					<div class="m-top-15">	
						<div liquidation-details entity="entity" childs="childs" liquidation-detail="liquidationDetail"></div>
						<div ng-include src="'html/components/liquidation-detail-buttons.html'"></div>
					</div>
				</div>
				<!-- Pestaña de observaciones -->
				<div class="tab-pane" id="commentsTab">
					<div class="m-top-15">
						<textarea class="form-control" rows="5" ng-model="entity.comments" ng-readonly="isReadOnly"></textarea>
					</div>
				</div>
				<!-- Pestaña de comentarios del PDF -->
				<div class="tab-pane" id="commentsPdfTab">
					<div class="m-top-15">
						<textarea class="form-control" rows="5" ng-model="entity.commentsPdf" ng-readonly="isReadOnly"></textarea>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Menu lateral -->
	<div class="col-sm-3">
		<div ng-include src="'templates/entity-toolbar.html'"></div>
		<div class="m-top-40">
			<h4>{{'liquidations' | translate}}</h4>
			<ul class="list-unstyled">
				<li><a href="#/liquidations?company={{entity.sender.id}}">Ver liquidaciones de esta empresa</a></li>
				<li><a href="#/liquidations">Ver liquidaciones</a></li>
				<li><a href="#/liquidations?state=DRAFT">Ver liquidaciones pendientes</a></li>
			</ul>
		</div>
		<div ng-include src="'templates/entity-json-popup.html'"></div>
	</div>
</div>

<div add-liquidation-detail liquidation="entity" message="message" detail="liquidationDetail" is-saving="isSaving"></div>

<!-- ventana modal para el envio de correos -->
<div class="modal fade" id="sendMailModal" tabindex="-1" role="dialog" aria-labelledby="sendMailLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">Enviar factura por correo</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label">Direcciones</label>
						<div class="col-sm-8">
							<input type='text' class="form-control" name="email" ng-model="sendMail.value" id="mailAddress" name="mailAddress"/>
							<span class="help-block">Para enviar a m&aacute;s de una direcci&oacute;n separe con punto y coma</span>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">Cancelar</button>
				<button type="button" class="btn btn-success btn-sm" ng-click="sendMail()">Enviar</button>
			</div>
		</div>
	</div>
</div>

<div ng-include src="'templates/bill-modal-email.html'"></div>
