<div class="row">

	<div class="col-sm-9">
		
		<h4>{{'stores' | translate}} <small>{{searchMessage}}</small></h4>
		
		<div class="m-top-15">
			<div ng-if="results.results.length < 1">{{'noResults' | translate}}</div>
			<div ng-if="results.results.length > 0">
				<table class="table table-condensed">
					<tr>
						<th>{{'name' | translate}}</th>
						<th>{{'company' | translate}}</th>
						<th>{{'province' | translate}}</th>
						<th>{{'type' | translate}}</th>
					</tr>
					<tr ng-repeat="result in results.results">
						<td><a href="#/stores/id/{{result.id}}">{{result.name}}</a></td>
						<td>{{result.parent.name}}</td>
						<td>{{result.address.province.name}}</td>
						<td>{{result.type}}</td>
					</tr>
				</table>
				
				<search-result-pagination></search-result-pagination>
				<div class="pull-right">
					<a href="#/stores/new">
						<h1>
							<span class="glyphicon glyphicon-plus-sign text-primary" aria-hidden="true"></span>
						</h1>
					</a>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-sm-3">
		<div>
			<h4>{{'filterResults' | translate}}</h4>
			<form role="form">
				<div class="form-group">
					<label>{{'name' | translate}}</label>
					<input type="text" class="form-control" ng-model="searchOptions.name" />
				</div>
				<div class="form-group">
					<label>{{'company' | translate}}</label>
					<input type="text" class="form-control" ng-model="searchOptions.company" typeahead="company as company.name for company in companies($viewValue)" />
				</div>
				<div class="form-group">
					<label>{{'province' | translate}}</label>
					<input type="text" class="form-control" ng-model="searchOptions.province" typeahead="province as province.name for province in provinces($viewValue)" />
				</div>
				<div class="form-group">
					<label>{{'costCenter' | translate}}</label>
					<input type="text" class="form-control" ng-model="searchOptions.costCenter" typeahead="center as center.name for center in costcenters($viewValue)"/>
				</div>
				<div class="form-group">
					<label>{{'owner' | translate}}</label>
					<input type="text" class="form-control" ng-model="searchOptions.owner" typeahead="owner as owner.name for owner in owners($viewValue)"/>
				</div>
				<div class="form-group">
					<label>{{'type' | translate}}</label>
					<div select-enum ng-model="searchOptions.type" enum-name="storeType"></div>
				</div>			
				<div class="form-group">
					<div class="checkbox">
						<label><input type="checkbox" ng-model="searchOptions.showDeleted">{{'store.showDeleted' | translate}}</label>
					</div>
				</div>
				<button class="btn btn-primary btn-sm" ng-click="search()">{{'search' | translate}}</button>
				<button class="btn btn-primary btn-sm" ng-click="reset()">{{'reset' | translate}}</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>