<div class="row">
	<div class="col-sm-9">

		<message-error-panel ng-model="message" auto-close="true"></message-error-panel>
		
		<h4>{{'store' | translate}}</h4>
		<div class="m-top-15">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'name' | translate}}</label>
					<div class="col-sm-10">
						<input type='text' class="form-control" ng-model="entity.name" ng-readonly="isReadOnly" required />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'company' | translate}}</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="entity.parent"  ng-readonly="isReadOnly" typeahead="company as company.name for company in companies($viewValue)" typeahead-editable="false" />
							<span  class="input-group-addon">
								<a ng-if="entity.parent != null" href="#/companies/id/{{entity.parent.id}}"><span class="glyphicon glyphicon-search"></span></a>
								<span ng-if="entity.parent == null" class="glyphicon glyphicon-search"></span>
							</span>
						</div>
					</div>
					<label class="col-sm-2 control-label">{{'costCenter' | translate}}</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="entity.costCenter" ng-readonly="isReadOnly" typeahead="costCenter as costCenter.name for costCenter in costcenters($viewValue)" typeahead-editable="false" />
							<span  class="input-group-addon">
								<a ng-if="entity.costCenter != null" href="#/costcenters/id/{{entity.costCenter.id}}"><span class="glyphicon glyphicon-search"></span></a>
								<span ng-if="entity.costCenter == null" class="glyphicon glyphicon-search"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'cif' | translate}}</label>
					<div class="col-sm-4">
						<input type='text' class="form-control" ng-model="entity.idCard.number" ng-readonly="isReadOnly"  />
					</div>
					<label class="col-sm-2 control-label">{{'type' | translate}}</label>
					<div class="col-sm-4">
						<div select-enum ng-model="entity.type" enum-name="storeType" is-read-only="isReadOnly"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'province' | translate}}</label>
					<div class="col-sm-4">
						<div province ng-model="entity.address.province" is-read-only="isReadOnly"></div>
					</div>
					<label class="col-sm-2 control-label">{{'locality' | translate}}</label>
					<div class="col-sm-4">
						<div region ng-model="entity.address.region" is-read-only="isReadOnly"></div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'address' | translate}}</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="entity.address.road" ng-readonly="isReadOnly"  />
					</div>
					<label class="col-sm-2 control-label">{{'number' | translate}}</label>
					<div class="col-sm-4">
						<input type='text' class="form-control" ng-model="entity.address.number" ng-readonly="isReadOnly"  />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'email' | translate}}</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="entity.email" ng-readonly="isReadOnly" />
					</div>
					<label class="col-sm-2 control-label">{{'sequencePrefix' | translate}}</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="entity.billSequencePrefix" ng-readonly="isReadOnly" />
							<span  class="input-group-addon">
								<a href="#/sequence-prefix"><span class="glyphicon glyphicon-plus"></span></a>
							</span>
						</div>
					</div>					
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label">{{'store.start' | translate}}</label>
					<div class="col-sm-4">
						<div calendar ng-model="entity.startDate | limitTo: 10" require="false" is-read-only="isReadOnly"></div>
					</div>
					<label class="col-sm-2 control-label">{{'store.end' | translate}}</label>
					<div class="col-sm-4">
						<div calendar ng-model="entity.endDate | limitTo: 10" require="false" is-read-only="isReadOnly"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-6 col-sm-offset-2">
						<input type="checkbox" id="labelAutoliquidation" ng-model="entity.autoConfirm" ng-readonly="isReadOnly" class="checkbox" />
	    				<label for="labelAutoliquidation">{{'autoliquidation' | translate}}</label>
	    			</div>
				</div>
			</form>
		</div>
		
		<div class="m-top-40">
			<ul class="nav nav-tabs">
				<li class="active"><a data-target="#ownerTab" data-toggle="tab">{{'owner' | translate}}</a></li>
				<li><a data-target="#terminalTab" data-toggle="tab">{{'terminals' | translate}}</a></li>
				<li><a data-target="#billingModelTab" data-toggle="tab">{{'billingModel' | translate}}</a></li>
				<li><a data-target="#commentsTab" data-toggle="tab">{{'comments' | translate}}</a></li>
				<li><a data-target="#ispInfoTab" data-toggle="tab">{{'isp' | translate}}</a></li>
				<li><a data-target="#auditTab" data-toggle="tab">{{'auditData' | translate}}</a></li>
			</ul>
	
			<div class="tab-content">
					
				<!-- Pestaña del titular del local -->
				<div class="tab-pane active" id="ownerTab">
					<div ng-include src="'templates/store-owner.html'"></div>
				</div>
				
				<!-- Pestaña del modelo de facturacion -->
				<div class="tab-pane" id="billingModelTab">
					<div ng-include src="'templates/entity-billing-model.html'"></div>
				</div>
				
				<!-- Pestaña de observaciones -->
				<div class="tab-pane" id="commentsTab">
					<div class="m-top-15">
						<textarea class="form-control" rows="3" ng-model="entity.comments" ng-readonly="isReadOnly"></textarea>
					</div>
				</div>
				
				<div class="tab-pane" id="terminalTab">
					<div class="m-top-15">
						<div ng-if="childTerminals.length < 1">No se han encontrado terminales asociados a este establecimiento.</div>
						<ul class="list-group">
							<li class="list-group-item" ng-repeat="i in childTerminals">
								<a href="#/terminals/id/{{i.id}}">{{i.code}}</a>
								<a class="pull-right" href="" ng-click="removeTerminal(i)"><span class="glyphicon glyphicon-trash"></span></a>
							</li>
						</ul>
						<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addTerminalModal">{{'addTerminal' | translate}}</button>
					</div>
				</div>
				
				<div class="tab-pane" id="ispInfoTab">
					<div ng-include src="'templates/store-isp-info.html'"></div>
				</div>
				
				<div class="tab-pane" id="auditTab">
					<div ng-include src="'templates/entity-audit-info.html'"></div>
				</div>
				
			</div>
		</div>
	</div>
	
	<div class="col-sm-3">
		<div ng-include="'templates/entity-toolbar.html'"></div>
		<div class="m-top-40">
			<h4>{{'billing' | translate}}</h4>
			<ul class="list-unstyled">
				<li><a href="#/bills?store={{entity.id}}">Ver facturas de este establecimiento</a></li>
				<li><a href="#/bills?store={{entity.id}}&state=Draft">Ver facturas pendientes</a></li>
			</ul>
		</div>
		<div class="m-top-40">
			<h4>{{'stores' | translate}}</h4>
			<ul class="list-unstyled">
				<li><a href="#stores?parent={{entity.parent.id}}">Ver establecimientos de la empresa</a></li>
				<li><a href="#stores">Ver establecimientos</a></li>
			</ul>
		</div>
		<div ng-include src="'templates/entity-json-popup.html'"></div>
	</div>
</div>

<!-- ventana modal para insertar terminales -->
<div class="modal fade" id="addTerminalModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{'addTerminal' | translate}}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-3 control-label">{{'code' | translate}}</label>
						<div class="col-sm-6">
							<input type='text' class="form-control" ng-model="newTerminal" typeahead="terminal as terminal.code for terminal in terminals($viewValue)" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-3 control-label">{{'store' | translate}}</label>
						<div class="col-sm-6">
							<input type='text' class="form-control" ng-model="newTerminal.store.name" ng-readonly="true" />
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary btn-sm" data-dismiss="modal">{{'cancel' | translate}}</button>
				<button type="button" class="btn btn-primary btn-sm" ng-click="addTerminal()" >{{'addTerminal' | translate}}</button>
			</div>
		</div>
	</div>
</div>
