<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="row">
	<div class="col-sm-9">
		<h4>Terminales  <small>({{results.totalItems}} resultados)</small></h4>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="entity in results.results">
				<div>
					<a href="#/terminals/id/{{entity.id}}">{{entity.code}}</a>
					<span class="pull-right">{{entity.store.name}}</span>
				</div>
			</li>
		</ul>
		<div class="pull-right">
			<a href="#terminals/new">Nuevo terminal</a>
		</div>
		<pagination total-items="results.totalItems" page="results.currentPage" items-per-page="results.itemsPerPage" on-select-page="setPage(page)"
			max-size="10" boundary-links="true" first-text="Primero" previous-text="Anterior" next-text="Siguiente" last-text="&Uacute;ltimo"></pagination>
	</div>
	
	<div class="col-sm-3">
		<div>
			<h4>Filtrar resultados</h4>
			<form role="form">
				<div class="form-group">
					<label>C&oacute;digo</label>
					<input type='text' class="form-control input-sm" ng-model="searchOptions.terminal" typeahead="terminal as terminal.code for terminal in terminals($viewValue)" />
				</div>
				<div class="form-group">
					<label for="entityIdCardNumber">Establecimiento</label>
					<input type='text' class="form-control input-sm" ng-model="searchOptions.store" typeahead-editable="false"
						typeahead="store as store.name for store in stores($viewValue)" />
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label><input type="checkbox" ng-model="searchOptions.showOrphan">Mostrar hu&eacute;rfanos</label>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label><input type="checkbox" ng-model="searchOptions.showDeleted">Mostrar terminales eliminados</label>
					</div>
				</div>
				<button ng-click="search()" class='btn btn-primary btn-sm '>Buscar</button></li>
				<button ng-click="reset()" class='btn btn-primary btn-sm '>Reset</button></li>
			</form>
		</div>
	</div>
</div>
</body>
</html>