<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="row">
	<div class="col-sm-9">
		
		<h4>{{'terminals' | translate}}  <small>{{searchMessage}}</small></h4>
		
		<div ng-if="results.results.length < 1">{{'noResults' | translate}}</div>
		
		<div ng-if="results.results.length > 0">
			<table class="table table-hover table-condensed">
				<tr>
					<th>{{'terminal' | translate}}</th>
					<th>{{'store' | translate}}</th>
				</tr>
				<tr ng-repeat="entity in results.results">
					<td><a href="#/terminals/id/{{entity.id}}">{{entity.code}}</a></td>
					<td>{{entity.store.name}}</td>
					<td></td>
				</tr>
			</table>
		</div>
			
		<search-result-pagination></search-result-pagination>
		
		<div class="pull-right">
			<a href="#/terminals/new">
				<h1>
					<span class="glyphicon glyphicon-plus-sign text-primary" aria-hidden="true"></span>
				</h1>
			</a>
		</div>

	</div>
	
	<div class="col-sm-3">
		<div>
			<h4>{{'filterResults' | translate}}</h4>
			<form role="form">
				<div class="form-group">
					<label>{{'code' | translate}}</label>
					<input type='text' class="form-control" ng-model="searchOptions.terminal" />
				</div>
				<div class="form-group">
					<label for="entityIdCardNumber">{{'store' | translate}}</label>
					<input type='text' class="form-control" ng-model="searchOptions.store" typeahead-editable="false" typeahead="store as store.name for store in stores($viewValue)" />
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label><input type="checkbox" ng-model="searchOptions.showOrphan">{{'showOrphan' | translate}}</label>
					</div>
				</div>
				<div class="form-group">
					<div class="checkbox">
						<label><input type="checkbox" ng-model="searchOptions.showDeleted">{{'showDeleted' | translate}}</label>
					</div>
				</div>
				<button ng-click="search()" class='btn btn-primary btn-sm '>{{'search' | translate}}</button></li>
				<button ng-click="reset()" class='btn btn-primary btn-sm '>{{'reset' | translate}}</button></li>
			</form>
		</div>
	</div>
</div>
</body>
</html>