<!DOCTYPE html>
<html lang="en" ng-app="billerApp">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="images/favicon.png">
<title>Facturador</title>
<link href="css/bootstrap.spacelab.css" rel="stylesheet">
<link href="css/app.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#">Facturador</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Facturaci&oacute;n <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">Facturaci&oacute;n</li>
								<li><a href="#/bills">Facturas</a></li>
								<li><a href="#/liquidations">Liquidaciones</a></li>
								<li class="divider"></li>
								<li><a href="#/rappel/stores">Rappel de establecimientos</a></li>
								<li class="divider"></li>
								<li><a href="#/models">Modelos de facturaci&oacute;n</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">Entidades <b class="caret"></b></a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">Empresas</li>
								<li><a href="#/groups">Grupos</a></li>
								<li><a href="#/companies">Empresas</a></li>
								<li><a href="#/costcenters">Centros de coste</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">Locales</li>
								<li><a href="#/stores">Locales</a></li>
								<li><a href="#/owners">Titulares</a></li>
								<li><a href="#/terminals">Terminales</a></li>
							</ul>
						</li>
						<li>
							<a href="#/admin/console">Administraci&oacute;n</a>
						</li>
					</ul>
					<ul ng-if="user != null" class="nav navbar-nav navbar-right">
						<li><a href="">{{user.name}}</a></li>
						<li><a ng-click="logout()" href="">Cerrar sesi&oacute;n</a></li>
					</ul>
					<ul ng-if="user == null" class="nav navbar-nav navbar-right">
						<li><a href="#/login">Login</a></li>
					</ul>
				</div>
			</div>
		</div>
		<div ng-view></div>
		<hr>
		<footer class="m-top-40">
			<p>&copy; Luckia 2014 <small class="col-sm-offset-1">v0.1-20140821</small></p>
		</footer>
	</div>
	<script src="lib/angular/angular.js"></script>
	<script src="lib/angular/angular-resource.js"></script>
	<script src="lib/angular/angular-route.js"></script>
	<script src="lib/jquery/jquery-1.11.0.js"></script>
	<script src="lib/bootstrap/bootstrap.js"></script>
	<script src="lib/bootstrap-ui/ui-bootstrap-tpls-0.10.0.js"></script>
	<script src="js/app.js"></script>
	<script src="js/controllers.js"></script>
</body>
</html>
