<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="row">
	<div class="col-sm-9">
		<h4>Tareas programadas</h4>
		<h5>Facturación</h5>
		<form role="form">
			<div class="form-group">
				<label>Cron</label>
				<input type="text" class="form-control" ng-model="dummy" />
			</div>
			<button class="btn btn-primary btn-sm" ng-click="updateBillCron()">Actualizar</button>
			<button class="btn btn-primary btn-sm" ng-click="executeBillCron()">Ejecutar</button>
		</form>
	</div>
</div>
</body>
</html>