<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="row">
	<div class="col-sm-9">
		<h4>Consola de administración</h4>
		<ul class="list-unstyled">
			<li><a href="#">Alertas</a></li>
			<li><a href="#">Gestión de usuarios</a></li>
			<li><a href="#/admin/settings">Configuración de la aplicación</a></li>
			<li><a href="#">Locales que no están asociados a ningún grupo</a></li>
			<li><a href="#">Locales que carecen de terminales</a></li>
		</ul>
	</div>
</div>
</body>
</html>