<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
	<div class="row">
		<div class="col-sm-9">
			<div id="alertContainer"></div>
			<h4>Factura</h4>
			<div>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-1 control-label input-sm">Emisor</label>
						<div class="col-sm-4">
							<div class=" input-group">
								<input type='text' class="form-control" ng-model="entity.sender.name" ng-readonly="true" /> <span class="input-group-addon input-sm"> <a
									href="#/stores/id/{{entity.sender.id}}"> <span class="glyphicon glyphicon-search"></span>
								</a>
								</span>
							</div>
						</div>
						<label class="col-sm-1 control-label input-sm">Destinatario</label>
						<div class="col-sm-4">
							<div class=" input-group">
								<input type='text' class="form-control" ng-model="entity.receiver" ng-readonly="isReadOnly" typeahead="company as company.name for company in companies($viewValue)" />
								<span class="input-group-addon input-sm">
									<a href="#/companies/id/{{entity.receiver.id}}"> <span class="glyphicon glyphicon-search"></span>
								</a>
								</span>
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label input-sm">N&uacute;mero</label>
						<div class="col-sm-4">
							<input type='text' class="form-control" ng-model="entity.code" ng-readonly="isReadOnly" />
						</div>
						<label class="col-sm-1 control-label input-sm">Fecha</label>
						<div class="col-sm-4">
							<input type="text" class="form-control data-date" datepicker-popup="{{dateFormat}}" ng-model="entity.billDate" ng-readonly="isReadOnly"
								ng-required="false" show-weeks="false" current-text="Hoy" close-text="Cerrar" toggle-weeks-text="Semanas" clear-text="Borrar"/>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label input-sm">Modelo</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type='text' class="form-control" ng-model="entity.model" ng-readonly="isReadOnly" typeahead="model as model.name for model in models($viewValue)" />								 
								<span class="input-group-addon">
									<a href="#/models/id/{{entity.model.id}}"><span class="glyphicon glyphicon-search"></span></a>
								</span>
							</div>
						</div>
						<label class="col-sm-1 control-label input-sm">Estado</label>
						<div class="col-sm-4">
							<input type='text' class="form-control" ng-model="entity.currentState.stateDefinition.desc" ng-readonly="true" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-1 control-label input-sm">Tipo</label>
						<div class="col-sm-4">
							<input type='text' class="form-control" ng-model="entity.billType.desc" ng-readonly="true" />
						</div>
						<label class="col-sm-1 control-label input-sm">Ordinaria</label>
						<div class="col-sm-4">
							<div class="input-group">
								<input type='text' class="form-control" ng-model="entity.parent.code" ng-readonly="true" />
								<span class="input-group-addon">
									<a href="#/bills/id/{{entity.parent.id}}"><span class="glyphicon glyphicon-search"></span></a>
								</span>
							</div>
						</div>
					</div>
				</form>
			</div>
			
			<div class="m-top-40">
				<ul class="nav nav-tabs">
					<li class="active"><a data-target="#detailTab" data-toggle="tab">Detalles</a></li>
					<li><a data-target="#ownerTab" data-toggle="tab">Titular</a></li>
					<li><a data-target="#commentsTab" data-toggle="tab">Observaciones</a></li>
					<li><a data-target="#liquidationDetailTab" data-toggle="tab">Detalles de liquidacion ({{entity.liquidationTotalAmount}})</a></li>
					<li><a data-target="#commentsPdfTab" data-toggle="tab">Comentarios PDF</a></li>
				</ul> 				
				<div class="tab-content">
				
					<!-- Pestaña de detalles de la factura -->
					<div class="tab-pane active" id="detailTab">
						<div class="m-top-15">
							<div class="col-sm-12">
								<table class="table">
									<tr>
										<th>Concepto</th>
										<th class="data-amount" title="Ajuste operativo">Ajuste Op.</th>
										<th class="data-amount">Unidades</th>
										<th class="data-amount">Importe</th>
										<th></th>
									</tr>
									<tr ng-repeat="detail in entity.details">
										<td>{{detail.name}}</td>
										<td class="data-amount"><span ng-if="detail.type == Adjustment">Si</span></td>
										<td class="data-amount">{{detail.units}}</td>
										<td class="data-amount">{{detail.value}}</td>
										<td><a ng-click="editDetail(detail.id)" href="" ng-if="entity.currentState.stateDefinition.id == 'Draft'"><span class="glyphicon glyphicon-pencil"></span></a></td>
									</tr>
									<tr>
										<td><b>Base</b></td>
										<td></td>
										<td></td>
										<td class="data-amount"><b>{{entity.netAmount}}</b></td>
										<td></td>
									</tr>
									<tr>
										<td><b>IVA ({{entity.vatPercent}} %)</b></td>
										<td></td>
										<td></td>
										<td class="data-amount"><b>{{entity.vatAmount}}</b></td>
										<td></td>
									</tr>
									<tr>
										<td><b>Total</b></td>
										<td></td>
										<td></td>
										<td class="data-amount"><b>{{entity.amount}}</b></td>
										<td></td>
									</tr>
								</table>
								<div class="btn-toolbar m-top-40" role="toolbar">
									<button ng-click="editDetail()" ng-if="entity.currentState.stateDefinition.id == 'Draft'" class='btn btn-sm btn-primary'>A&ntilde;adir concepto</button>
									<button ng-click="cancel()" ng-if="entity.currentState.stateDefinition.id == 'Draft'" class='btn btn-sm btn-primary'>Anular</button>
									<button ng-click="rectify()" ng-if="entity.currentState.stateDefinition.id == 'Confirmed'" class='btn btn-sm btn-primary'>Rectificar</button>
									<a class="btn btn-primary btn-sm" ng-if="entity.currentState.stateDefinition.id == 'Draft'" href="rest/bills/draft/{{entity.id}}" role="button">Consultar borrador</a>
									<a class="btn btn-primary btn-sm" ng-if="entity.currentState.stateDefinition.id != 'Draft' && entity.currentState.stateDefinition.id != 'Cancelled'" href="rest/binary/download/{{entity.pdfFile.id}}" role="button">Descargar</a>
									<button ng-click="draft()" ng-if="entity.currentState.stateDefinition.id == 'Confirmed' || entity.currentState.stateDefinition.id == 'Sent'" class='btn btn-sm btn-primary'>Draft</button>
									<button ng-click="confirm()" ng-if="entity.currentState.stateDefinition.id == 'Draft'" class='btn btn-sm btn-success pull-right'>Aceptar borrador</button>
									<button ng-click="recalculate()" ng-if="entity.currentState.stateDefinition.id == 'Draft'" class='btn btn-sm btn-success pull-right'>Recalcular</button>
									<button ng-click="editSendMail()" ng-if="entity.currentState.stateDefinition.id == 'Confirmed' || entity.currentState.stateDefinition.id == 'Sent'" class='btn btn-sm btn-success pull-right'>Enviar</button>
									<!-- button ng-click="todo()" ng-if="entity.currentState.stateDefinition.id == 'Cancelled'" class="btn btn-sm btn-success pull-right">Rectificar</button -->
								</div>
							</div>
						</div>
					</div>
					
					<!-- Pestaña de titular del establecimiento -->
					<div class="tab-pane" id="ownerTab">
						<div ng-include src="'templates/entity-owner-tab.html'"></div>
					</div>
					
					<!-- Pestaña de observaciones -->
					<div class="tab-pane" id="commentsTab">
						<div class="m-top-15">
							<textarea class="form-control" rows="5" ng-model="entity.comments" ng-readonly="isReadOnly"></textarea>
						</div>
					</div>
					
					<!-- Pestaña de detalles de liquidacion -->
					<div class="tab-pane" id="liquidationDetailTab">
						<div class="m-top-15">
							<table class="table">
								<tr>
									<th>Concepto</th>
									<th class="data-amount">Unidades</th>
									<th class="data-amount">Importe</th>
									<th></th>
								</tr>
								<tr ng-repeat="detail in entity.liquidationDetails">
									<td>{{detail.name}}</td>
									<td class="data-amount">{{detail.units}}</td>
									<td class="data-amount">{{detail.value}}</td>
									<td></td>
								</tr>
								<tr ng-repeat="detail in entity.details" ng-if="detail.concept == 'ManualWithLiquidation'">
									<td>{{detail.name}}</td>
									<td class="data-amount">{{detail.units}}</td>
									<td class="data-amount">{{detail.value}}</td>
									<td></td>
								</tr>
								<tr>
									<td><b>Total</b></td>
									<td></td>
									<td class="data-amount"><b>{{entity.liquidationTotalAmount}}</b></td>
									<td></td>
								</tr>
								<tr>
									<td><b>Ajustes operativos</b></td>
									<td></td>
									<td class="data-amount"><b>{{entity.adjustmentAmount}}</b></td>
									<td></td>
								</tr>
								<tr>
									<td><b>Saldo de caja</b></td>
									<td></td>
									<td class="data-amount"><b>{{entity.storeCash}}</b></td>
									<td></td>
								</tr>
							</table>
						</div>
					</div>
					
					<!-- Pestaña de comentarios del PDF -->
					<div class="tab-pane" id="commentsPdfTab">
						<div class="m-top-15">
							<textarea class="form-control" rows="5" ng-model="entity.commentsPdf" ng-readonly="isReadOnly"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Menu lateral -->
		<div class="col-sm-3">
			<div ng-include src="'templates/entity-toolbar.html'"></div>
			<div class="m-top-40">
				<h4>Facturaci&oacute;n</h4>
				<ul class="list-unstyled">
					<li><a href="#/bills">Ver facturas</a></li>
					<li><a href="#/bills?store={{entity.sender.id}}">Ver facturas de este establecimiento</a></li>
					<li><a href="#/bills?state=Draft">Ver facturas pendientes</a></li>
				</ul>
				<div ng-if="entity.liquidation != null">
					<h4>Liquidaci&oacute;n</h4>
					<ul class="list-unstyled">
						<li><a href="#/liquidations/id/{{entity.liquidation.id}}">Ver liquidaci&oacute;n de esta factura</a></li>
					</ul>
				</div>
			</div>
			<div ng-include src="'templates/entity-json-popup.html'"></div>
		</div>
	</div>
	
	<div ng-include src="'templates/bill-modal-detail.html'"></div>
	<div ng-include src="'templates/bill-modal-email.html'"></div>

</body>
</html>