<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF8">
</head>
<body>
<div class="row">
	<div class="col-sm-9">
		
		<div id="alertContainer"></div>
		
		<h4>Empresa</h4>
		<div class="m-top-15">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label class="col-sm-2 control-label input-sm">Nombre</label>
					<div class="col-sm-4">
						<input type='text' class="form-control" ng-model="entity.name" ng-readonly="isReadOnly" />
					</div>
					<label class="col-sm-2 control-label input-sm">CIF</label>
					<div class="col-sm-4">
						<input type='text' class="form-control" ng-model="entity.idCard.number" ng-readonly="isReadOnly" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label input-sm">Grupo</label>
					<div class="col-sm-4">
						<div class="input-group">
							<input type="text" class="form-control" ng-model="entity.parent"  ng-readonly="isReadOnly" typeahead="group as group.name for group in groups($viewValue)" typeahead-editable="false" />
							<span  class="input-group-addon input-sm">
								<a ng-if="entity.parent != null" href="#/groups/id/{{entity.parent.id}}"><span class="glyphicon glyphicon-search"></span></a>
								<span ng-if="entity.parent == null" class="glyphicon glyphicon-search"></span>
							</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label input-sm">Provincia</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="entity.address.province" typeahead="province as province.name for province in provinces($viewValue)" ng-readonly="isReadOnly" />
					</div>
					<label class="col-sm-2 control-label input-sm">Municipio</label>
					<div class="col-sm-4">
						<input type='text' class="form-control" ng-model="entity.address.region" typeahead="region as region.name for region in regions($viewValue, entity.address.province.id)" ng-readonly="isReadOnly" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label input-sm">Direcci&oacute;n</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="entity.address.road" ng-readonly="isReadOnly" />
					</div>
					<label class="col-sm-2 control-label input-sm">N&uacute;mero</label>
					<div class="col-sm-4">
						<input type='text' class="form-control" ng-model="entity.address.number" ng-readonly="isReadOnly" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label input-sm">C&oacute;digo postal</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="entity.address.zipCode" ng-readonly="isReadOnly" />
					</div>				
					<label class="col-sm-2 control-label input-sm">Teléfono</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="entity.phoneNumber" ng-readonly="isReadOnly" />
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label input-sm">Email</label>
					<div class="col-sm-4">
						<input type="text" class="form-control" ng-model="entity.email"  ng-readonly="isReadOnly" />
					</div>
					<div class="col-sm-4 col-sm-offset-2">
						<div class="checkbox">
							<label><input type="checkbox" class="form-control" ng-model="entity.autoConfirm" ng-readonly=isReadOnly> Facturaci&oacute;n autom&aacute;tica</label>
						</div>
					</div>
				</div>
			</form>
		</div>
		
		<div style="margin-top: 40px;" >
			<ul class="nav nav-tabs">
				<li class="active"><a data-target="#stores" data-toggle="tab">Establecimientos</a></li>
				<li><a data-target="#commentsTab" data-toggle="tab">Observaciones</a></li>
				<li><a data-target="#auditTab" data-toggle="tab">Auditor&iacute;a</a></li>
			</ul>
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="stores">
					<div ng-include src="'templates/store-list.html'"></div>
					<div class="m-top-15" ng-if="entity != null && entity.id > 0">
						<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#addStoreModal">Añadir establecimiento</button>
					</div>
				</div>
				<div class="tab-pane" id="commentsTab">
					<div class="m-top-15">
						<textarea class="form-control" rows="3" ng-model="entity.comments" ng-readonly="isReadOnly"></textarea>
					</div>
				</div>
				<div class="tab-pane" id="auditTab">
					<div ng-include src="'templates/entity-audit-info.html'"></div>
				</div>
			</div>
		</div>
	</div>
	
	<!-- ventana modal para insertar nuevos conceptos -->
	<div class="modal fade" id="addStoreModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Añadir establecimiento</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-2 control-label input-sm">Nombre</label>
							<div class="col-sm-8">
								<input type='text' class="form-control input-sm" ng-model="newStore" typeahead="store as store.name for store in stores($viewValue)" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label input-sm">Empresa actual</label>
							<div class="col-sm-4">
								<input type='text' class="form-control input-sm" ng-model="newStore.parent.name	" ng-readonly="true" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label input-sm">CIF</label>
							<div class="col-sm-4">
								<input type='text' class="form-control input-sm" ng-model="newStore.idCard.number" ng-readonly="true" />
							</div>
							<label class="col-sm-2 control-label input-sm">Titular</label>
							<div class="col-sm-4">
								<input type='text' class="form-control input-sm" ng-model="newStore.owner.completeName" ng-readonly="true" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label input-sm">Provincia</label>
							<div class="col-sm-4">
								<input type='text' class="form-control input-sm" ng-model="newStore.address.province.name" ng-readonly="true" />
							</div>
							<label class="col-sm-2 control-label input-sm">Region</label>
							<div class="col-sm-4">
								<input type='text' class="form-control input-sm" ng-model="newStore.address.region.name" ng-readonly="true" />
							</div>
						</div>
						<div class="form-group">
							<label class="col-sm-2 control-label input-sm">Direcci&oacute;n</label>
							<div class="col-sm-4">
								<input type='text' class="form-control input-sm" ng-model="newStore.address.road" ng-readonly="true" />
							</div>
							<label class="col-sm-2 control-label input-sm">N&uacte;mero</label>
							<div class="col-sm-4">
								<input type='text' class="form-control input-sm" ng-model="newStore.address.number" ng-readonly="true" />
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary btn-sm" ng-click="addStore()" >Añadir</button>
				</div>
			</div>
		</div>
	</div>
	
	<div class="col-sm-3">
		<div ng-include src="'templates/entity-toolbar.html'"></div>
		<div class="m-top-40">
			<h4>Facturaci&oacute;n</h4>
			<ul class="list-unstyled">
				<li><a href="#">Ver facturas pendientes</a></li>
				<li><a href="#">Ver facturas</a></li>
			</ul>
		</div>
		<div class="m-top-40">
			<h4>Entidades</h4>
			<ul class="list-unstyled">
				<li><a href="#/companies">Ver empresas</a></li>
			</ul>
		</div>
		<div class="m-top-40">
			<h4 class="text-muted">TODO</h4>
			<ul class="list-unstyled">
				<li class="text-muted">Borrado lógico</li>
				<li class="text-muted">Error al añadir establecimiento</li>
			</ul>
		</div>
		<div ng-include src="'templates/entity-json-popup.html'"></div>
	</div>
</div>
</html>