<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="row">

	<div class="col-sm-9">
		<h4>Centros de coste <small>({{results.totalItems}} resultados)</small></h4>
		<ul class="list-group">
			<li class="list-group-item" ng-repeat="result in results.results | filter:query | orderBy:orderProp">
				<div>
					<a href="#/costcenters/id/{{result.id}}">{{result.name}} {{result.firstSurname}} {{result.secondSurname}}</a>
				</div>
			</li>
		</ul>
		<div class="pull-right">
			<a href="#/costcenters/new">Nuevo centro de coste</a>
		</div>
		<pagination total-items="results.totalItems" page="results.currentPage" items-per-page="results.itemsPerPage" on-select-page="setPage(page)" max-size="10" boundary-links="true" first-text="Primero" previous-text="Anterior" next-text="Siguiente" last-text="&Uacte;ltimo"></pagination>
	</div>

	<div class="col-sm-3">
		<div>
			<h4>Filtrar resultados</h4>
			<form role="form">
				<div class="form-group">
					<label>C&oacute;digo</label>
					<input type="text" class="form-control input-sm" ng-model="searchName" placeholder="Nombre">
				</div>
				<div class="form-group">
					<label>Provincia</label>
					<input type="text" class="form-control input-sm" placeholder="Grupo">
				</div>
				<button class="btn btn-primary btn-sm" ng-click="search()">Buscar</button>
			</form>
		</div>
	</div>
</div>
</body>
</html>