<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head>
<body>
	<div class="row">
		<div class="col-sm-9">
			<h4>
				<span class="glyphicon glyphicon-list-alt text-muted"></span>
				<span>Liquidaciones <small>({{results.totalItems}} resultados)</small></span>
			</h4>
			<div ng-if="results.results.length < 1">No se han encontrado resultados</div>
			<div ng-if="results.results.length > 0">
				<table class="table table-hover table-condensed" >
					<tr>
						<th>Emisor</th>
						<th>Destinatario</th>
						<th>C&oacute;digo</th>
						<th>Estado</th>
						<th>Fecha</th>
						<th>Importe</th>
						<th></th>
						<th></th>
					</tr>
					<tr ng-repeat="result in results.results">
						<td><a href="#liquidations/id/{{result.id}}">{{result.sender.name}}</a></td>
						<td><a href="#liquidations/id/{{result.id}}">{{result.receiver.name}}</a></td>
						<td>{{result.code}}</td>
						<td>
							<span ng-if="result.currentState.stateDefinition.id == 'Draft'" class="glyphicon glyphicon-exclamation-sign text-muted" title="Borrador"></span>
							<span ng-if="result.currentState.stateDefinition.id == 'Rectified'" class="glyphicon glyphicon-fire text-danger" title="Rectificada"></span>
						</td>
						<td>{{result.billDate.substr(0,10)}}</td>
						<td class="data-amount">{{result.liquidationResults.senderAmount}}</td>
						<td>{{result.billType.desc}}</td>
						<td><a href="#/liquidations/id/{{result.id}}"><span class="glyphicon glyphicon-search"></span></a></td>
					</tr>
				</table>
				<pagination total-items="results.totalItems" page="results.currentPage" items-per-page="results.itemsPerPage" on-select-page="setPage(page)" max-size="10" boundary-links="true" first-text="Primero" previous-text="Anterior" next-text="Siguiente" last-text="&Uacute;ltimo"></pagination>
			</div>
		</div>
		<div class="col-sm-3">
			<div>
				<h4>Filtrar resultados</h4>
				<form role="form">
					<div class="form-group">
						<label>C&oacute;digo</label> <input type="text" class="form-control input-sm" ng-model="searchOptions.code" />
					</div>
					<div class="form-group">
						<label>Empresa</label><input type="text" class="form-control input-sm" typeahead="company as company.name for company in companies($viewValue)" ng-model="searchOptions.company" />
					</div>
					<div class="form-group">
						<label>Operador</label> <input type="text" class="form-control input-sm" typeahead="company as company.name for company in companies($viewValue)" ng-model="searchOptions.trader" />
					</div>
					<div class="form-group">
						<label>Estado</label> <select class="form-control input-sm" ng-model="searchOptions.state">
							<option value=""></option>
							<option value="Draft">Borradores</option>
							<option value="Confirmed">Confirmadas</option>
							<option value="Sent">Enviadas</option>
							<option value="Cancelled">Canceladas</option>
						</select>
					</div>
					<div class="form-group">
						<label>Desde</label>
						<div class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="searchOptions.from"
								ng-required="false" show-weeks="false" current-text="Hoy" close-text="Cerrar" toggle-weeks-text="Semanas" clear-text="Borrar"/>
							<span class="input-group-addon glyphicon glyphicon-calendar"></span>
						</div>
					</div>
					<div class="form-group">
						<label>Hasta</label>
						<div class="input-group">
							<input type="text" class="form-control" datepicker-popup="{{dateFormat}}" ng-model="searchOptions.to"
								ng-required="false" show-weeks="false" current-text="Hoy" close-text="Cerrar" toggle-weeks-text="Semanas" clear-text="Borrar"/>
							<span class="input-group-addon glyphicon glyphicon-calendar"></span>
						</div>
					</div>
					<button class="btn btn-primary btn-sm" ng-click="search()">Buscar</button>
					<button class="btn btn-default btn-sm" ng-click="reset()">Reset</button>
				</form>
			</div>
		</div>
	</div>
</body>
</html>