<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
	<div class="row">
		<div class="col-sm-9">
			<div id="alertContainer"></div>
			<h4>
				<span class="glyphicon glyphicon-list-alt text-muted"></span>
				<span>Liquidaci&oacute;n</span>
			</h4>
			<div>
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label input-sm">Emisor</label>
						<div class="col-sm-5">
							<div class=" input-group">
								<input type='text' class="form-control" ng-model="entity.sender.name" ng-readonly="true" /> <span class="input-group-addon input-sm"> <a
									href="#/companies/id/{{entity.sender.id}}"> <span class="glyphicon glyphicon-search"></span>
								</a>
								</span>
							</div>
						</div>
						<label class="col-sm-1 control-label input-sm">C&oacute;digo</label>
						<div class="col-sm-3">
							<input type='text' class="form-control data-code" ng-model="entity.code" ng-readonly="true" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label input-sm">Destinatario</label>
						<div class="col-sm-5">
							<div class=" input-group">
								<input type='text' class="form-control" ng-model="entity.receiver.name" ng-readonly="true" /> <span class="input-group-addon input-sm"> <a
									href="#/stores/{{entity.receiver.id}}"> <span class="glyphicon glyphicon-search"></span>
								</a>
								</span>
							</div>
						</div>
						<label class="col-sm-1 control-label input-sm">Fecha</label>
						<div class="col-sm-3">
							<input type="text" class="form-control data-date" datepicker-popup="{{dateFormat}}" ng-model="entity.billDate" ng-readonly="isReadOnly" show-button-bar="false" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label input-sm">Estado</label>
						<div class="col-sm-5">
							<input type='text' class="form-control" ng-model="entity.currentState.stateDefinition.desc" ng-readonly="true" />
						</div>
					</div>
				</form>
			</div>
			
			<div class="m-top-40">
				<ul class="nav nav-tabs">
					<li class="active"><a data-target="#detailTab" data-toggle="tab">Facturas</a></li>
					<li><a data-target="#commentsTab" data-toggle="tab">Observaciones</a></li>
					<li><a data-target="#commentsPdfTab" data-toggle="tab">Comentarios PDF</a></li>
				</ul> 				
				<div class="tab-content">
					<div class="tab-pane active" id="detailTab">
						<div class="m-top-15">
							<div class="col-sm-12">
								<table class="table">
									<tr>
										<th>Factura</th>
										<th>Establecimiento</th>
										<th>Fecha</th>
										<th>Estado</th>
										<th class="data-amount">Factura</th>
										<th class="data-amount">Liquidaci&oacute;n</th>
										<th></th>
									</tr>
									<tr ng-repeat="bill in childs.results">
										<td><a href="#/bills/id/{{bill.id}}">{{bill.code != null ? bill.code : 'Borrador'}}</a></td>
										<td><a href="#/bills/id/{{bill.id}}">{{bill.sender.name}}</a></td>
										<td>{{bill.billDate.substr(0,10)}}</td>
										<td>{{bill.currentState.stateDefinition.desc}}</td>
										<td class="data-amount">{{bill.amount}}</td>
										<td class="data-amount">{{bill.liquidationTotalAmount}}</td>
										<td><a href="#/bills/id/{{bill.id}}" ng-if="entity.currentState.stateDefinition.id == 'Draft'"><span class="glyphicon glyphicon-pencil"></span></a></td>
									</tr>
									<tr ng-repeat="detail in entity.details">
										<td>{{detail.name}}</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td class="data-amount">{{detail.value}}</td>
										<td><a ng-click="editDetail(detail.id)" href="" ng-if="entity.currentState.stateDefinition.id == 'Draft'"><span class="glyphicon glyphicon-pencil"></span></a></td>
									</tr>
									<tr>
										<td>Ajustes operativos (50%)</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td class="data-amount">{{entity.liquidationResults.adjustmentSharedAmount}}</td>
										<td></td>
									</tr>
									<tr>
										<td colspan="5"><b>Total {{entity.sender.name}}</b></td>
										<td class="data-amount"><b>{{entity.liquidationResults.senderAmount}}</b></td>
										<td></td>
									</tr>
									<tr>
										<td>Saldo de caja</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td class="data-amount">{{entity.liquidationResults.cashStoreAmount}}</td>
										<td></td>
									</tr>
									<tr>
										<td>Ajustes operativos (100%)</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td class="data-amount">{{entity.liquidationResults.adjustmentAmount}}</td>
										<td></td>
									</tr>
									<tr>
										<td>Saldo de caja ajustado</td>
										<td></td>
										<td></td>
										<td></td>
										<td></td>
										<td class="data-amount">{{entity.liquidationResults.cashStoreAdjustmentAmount}}</td>
										<td></td>
									</tr>
									<tr>
										<td colspan="5"><b>Resultado a percibir por {{entity.receiver.name}}</b></td>
										<td class="data-amount">{{entity.liquidationResults.receiverAmount}}</td>
										<td></td>
									</tr>
								</table>
								<div ng-if="childs.totalPages > 0" class="m-bot-20">
									<pagination total-items="childs.totalItems" page="childs.currentPage" items-per-page="childs.itemsPerPage" on-select-page="setPage(page)" max-size="10"
										boundary-links="true" first-text="Primero" previous-text="Anterior" next-text="Siguiente" last-text="&Uacute;ltimo"></pagination>
								</div>
							</div>
							<div class="btn-toolbar" role="toolbar">
								<button ng-click="editDetail()" ng-if="entity.currentState.stateDefinition.id == 'Draft'" class='btn btn-sm btn-primary' ng-disabled="isSaving">A&ntilde;adir concepto</button>
								<a class="btn btn-primary btn-sm" ng-if="entity.currentState.stateDefinition.id == 'Draft'" href="rest/liquidations/draft/{{entity.id}}" role="button" ng-disabled="isSaving">Consultar borrador</a>
								<a class="btn btn-primary btn-sm" ng-if="entity.currentState.stateDefinition.id != 'Draft' && entity.currentState.stateDefinition.id != 'Cancelled'" href="rest/binary/download/{{entity.pdfFile.id}}" role="button" ng-disabled="isSaving">Descargar</a>
								<button ng-click="recreatePDF()" ng-if="entity.currentState.stateDefinition.id != 'Draft'" class='btn btn-sm btn-primary' ng-disabled="isSaving">Recrear PDF</button>
								<button ng-click="draft()" ng-if="entity.currentState.stateDefinition.id == 'Confirmed' || entity.currentState.stateDefinition.id == 'Sent'" class='btn btn-sm btn-primary' ng-disabled="isSaving">Draft</button>
								<button ng-click="confirm()" ng-if="entity.currentState.stateDefinition.id == 'Draft'" class='btn btn-sm btn-success pull-right' ng-disabled="isSaving">Aceptar borrador</button>
								<button ng-click="recalculate()" ng-if="entity.currentState.stateDefinition.id == 'Draft'" class='btn btn-sm btn-success pull-right' ng-disabled="isSaving">Recalcular</button>
								<button ng-click="editSendMail()" ng-if="entity.currentState.stateDefinition.id == 'Confirmed' || entity.currentState.stateDefinition.id == 'Sent'" class='btn btn-sm btn-success pull-right' ng-disabled="isSaving">Enviar</button>
							</div>
						</div>
					</div>
					<!-- Pestaña de observaciones -->
					<div class="tab-pane" id="commentsTab">
						<div class="m-top-15">
							<textarea class="form-control" rows="5" ng-model="entity.comments" ng-readonly="isReadOnly"></textarea>
						</div>
					</div>
					<!-- Pestaña de comentarios del PDF -->
					<div class="tab-pane" id="commentsPdfTab">
						<div class="m-top-15">
							<textarea class="form-control" rows="5" ng-model="entity.commentsPdf" ng-readonly="isReadOnly"></textarea>
						</div>
					</div>
				</div>
			</div>
		</div>

		<!-- Menu lateral -->
		<div class="col-sm-3">
			<div ng-include src="'templates/entity-toolbar.html'"></div>
			<div class="m-top-40">
				<h4>Facturaci&oacute;n</h4>
				<ul class="list-unstyled">
					<li><a href="#/liquidations?company={{entity.sender.id}}">Ver liquidaciones de esta empresa</a></li>
					<li><a href="#/liquidations">Ver liquidaciones</a></li>
					<li><a href="#/liquidations?state=Draft">Ver liquidaciones pendientes</a></li>
				</ul>
			</div>
			<div ng-include src="'templates/entity-json-popup.html'"></div>
		</div>
	</div>

	<div ng-include src="'templates/liquidation-modal-detail.html'"></div>
	

	<!-- ventana modal para el envio de correos -->
	<div class="modal fade" id="sendMailModal" tabindex="-1" role="dialog" aria-labelledby="sendMailLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					<h4 class="modal-title">Enviar factura por correo</h4>
				</div>
				<div class="modal-body">
					<form class="form-horizontal" role="form">
						<div class="form-group">
							<label class="col-sm-2 control-label input-sm">Direcciones</label>
							<div class="col-sm-8">
								<input type='text' class="form-control" ng-model="sendMail.value" /> <span class="help-block">Para enviar a m&aacute;s de una direcci&oacute;n separe con punto y coma</span>
							</div>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-success btn-sm" ng-click="sendMail()">Enviar</button>
				</div>
			</div>
		</div>
	</div>

	<div ng-include src="'templates/bill-modal-email.html'"></div>

</body>
</html>