<html><head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8"></head><body>
<div class="container-fluid">
  <div class="row-fluid">
    <div class="span2">
      <!--Sidebar content-->

      Search: <input ng-model="query">
      Sort by:
      <select ng-model="orderProp">
        <option selected="selected" value="name">Alphabetical</option>
        <option value="age">Newest</option>
      </select>

    </div>
    <div class="span10">
      <!--Body content-->

      <ul class="users">
        <li ng-repeat="user in users | filter:query | orderBy:orderProp" class="thumbnail">
          <a href="#/users/{{user.id}}">{{user.name}}</a>
          <p>{{user.email}}</p>
        </li>
      </ul>

    </div>
  </div>
</div>
</body></html>