textarea {
	resize: none;
}

.form-control[readonly] {
	background-color: #F9F9F9;
	cursor: default;
}

.numeric-field {
	text-align: right;
}

.m-top-15 {
	margin-top: 15px;
}

.m-top-40 {
	margin-top: 40px;
}
.m-bot-5 {
	margin-bottom: 5px;
}
.m-bot-20 {
	margin-bottom: 20px;
}

.data-amount {
	text-align: right;
}

.data-date {
	text-align: right;
}

.data-code {
	text-align: right;
}

.pagination {
	margin: 0;
}

/*
.form-control::-webkit-input-placeholder {
	color: #CCCCCC;
}

.form-control::-moz-placeholder {
	color: #CCCCCC;
}
*/

input[type="checkbox"].checkbox {
    display: none;
}
input[type="checkbox"].checkbox + label {
    display: inline;
    position: relative;
    background-color: #dadada;
    border: 1px solid #aaaaaa;
    /*label styling*/
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    vertical-align: baseline;
    white-space: nowrap;
    /*text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);*/
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}
input[type="checkbox"].checkbox:checked + label {
    background-color: #94D662;
    border: 1px solid #55A517;
}

input[type="checkbox"].checkbox:disabled + label {
    opacity: 0.5;
}