<form class="form-horizontal" role="form">
	<div class="panel panel-default">
		<div class="panel-heading">Operador</div>
		<div class="panel-body">
			<div class="form-group">
				<label class="col-sm-2 control-label input-sm">GGR</label>
				<div class="col-sm-2">
					<div class="input-group">
						<input type='text' class="form-control numeric-field" ng-model="entity.companyModel.ggrPercent" ng-readonly="isReadOnly"
							popover="Porcentaje sobre ingresos brutos del luego (ventas - premios)" popover-trigger="mouseenter" /> <span class="input-group-addon">%</span>
					</div>
				</div>
				<label class="col-sm-2 control-label input-sm">NGR</label>
				<div class="col-sm-2">
					<div class="input-group">
						<input type='text' class="form-control numeric-field" ng-model="entity.companyModel.ngrPercent" ng-readonly="isReadOnly"
							popover="Porcentaje mensual sobre los ingresos netos de juego: GGR - tasa de juego" popover-trigger="mouseenter" /> <span
							class="input-group-addon">%</span>
					</div>
				</div>
				<label class="col-sm-2 control-label input-sm">NR</label>
				<div class="col-sm-2">
					<div class="input-group">
						<input type='text' class="form-control numeric-field" ng-model="entity.companyModel.nrPercent" ng-readonly="isReadOnly"
							popover="Porcentaje mensual sobre el resultado neto: NGR - gastos operativos" popover-trigger="mouseenter" /> <span class="input-group-addon">%</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label input-sm">Ventas</label>
				<div class="col-sm-2">
					<div class="input-group">
						<input type='text' class="form-control numeric-field" ng-model="entity.companyModel.stakesPercent" ng-readonly="isReadOnly"
							popover="Porcentaje mensual sobre las ventas" popover-trigger="mouseenter" /> <span class="input-group-addon">%</span>
					</div>
				</div>
				<label class="col-sm-2 control-label input-sm">SAT</label>
				<div class="col-sm-2">
					<div class="input-group">
						<input type='text' class="form-control numeric-field" ng-model="entity.companyModel.satMonthlyFees" ng-readonly="isReadOnly"
							popover="Importe mensual del servicio de atenci&oacute;n al cliente" popover-trigger="mouseenter" /> <span class="input-group-addon">&euro;</span>
					</div>
				</div>
				<label class="col-sm-2 control-label input-sm">{{'commercialService' | translate}}</label>
				<div class="col-sm-2">
					<div class="input-group">
						<input type='text' class="form-control numeric-field" ng-model="entity.companyModel.commercialMonthlyFees" ng-readonly="isReadOnly"
							popover="Honorarios mensuales de atenci&oacute;n al cliente" popover-trigger="mouseenter" /> <span class="input-group-addon">&euro;</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label input-sm">{{'coOperatingMonthlyFees' | translate}}</label>
				<div class="col-sm-2">
					<div class="input-group">
						<input type='text' class="form-control numeric-field" ng-model="entity.companyModel.coOperatingMonthlyFees" ng-readonly="isReadOnly"
							popover="{{'coOperatingMonthlyFees.help' | translate}}" popover-trigger="mouseenter" /> <span class="input-group-addon">&euro;</span>
					</div>
				</div>
				<label class="col-sm-2 control-label input-sm">{{'pricePerLocation' | translate}}</label>
				<div class="col-sm-2">
					<div class="input-group">
						<input type='text' class="form-control numeric-field" ng-model="entity.companyModel.pricePerLocation" ng-readonly="isReadOnly"
							popover="{{'pricePerLocation.help' | translate}}" popover-trigger="mouseenter" /> <span class="input-group-addon">&euro;</span>
					</div>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label input-sm">{{'vatLiquidationType' | translate}}</label>
				<div class="col-sm-6">
					<select class="form-control" ng-model="entity.vatLiquidationType" ng-readonly="isReadOnly">
						<option value="EXCLUDED">{{'vatLiquidationType.EXCLUDED' | translate}}</option>
						<option value="LIQUIDATION_INCLUDED">{{'vatLiquidationType.LIQUIDATION_INCLUDED' | translate}}</option>
						<option value="LIQUIDATION_ADDED">{{'vatLiquidationType.LIQUIDATION_ADDED' | translate}}</option>
					</select>
				</div>
			</div>
			<div class="form-group">
				<label class="col-sm-2 control-label input-sm">{{'receiver' | translate}}</label>
				<div class="col-sm-6">
					<div company ng-model="entity.receiver" is-read-only="isReadOnly"></div>
				</div>
			</div>

		</div>
		<div class="panel-heading">{{'store' | translate}}</div>
		<div class="panel-body">
			<div>
				<div class="form-group">
					<label class="col-sm-2 control-label input-sm">GGR</label>
					<div class="col-sm-2">
						<div class="input-group">
							<input type='text' class="form-control numeric-field" ng-model="entity.storeModel.ggrPercent" ng-readonly="isReadOnly" /> <span
								class="input-group-addon">%</span>
						</div>
					</div>
					<label class="col-sm-2 control-label input-sm">NGR</label>
					<div class="col-sm-2">
						<div class="input-group">
							<input type='text' class="form-control numeric-field" ng-model="entity.storeModel.ngrPercent" ng-readonly="isReadOnly" /> <span
								class="input-group-addon">%</span>
						</div>
					</div>
				</div>
				<div class="form-group">
					<label class="col-sm-2 control-label input-sm">{{'stakes' | translate}}</label>
					<div class="col-sm-2">
						<div class="input-group">
							<input type='text' class="form-control numeric-field" ng-model="entity.storeModel.stakesPercent" ng-readonly="isReadOnly" /> <span
								class="input-group-addon">%</span>
						</div>
					</div>
					<label class="col-sm-2 control-label input-sm ">{{'sat' | translate}}</label>
					<div class="col-sm-2">
						<div class="input-group">
							<input type='text' class="form-control numeric-field" ng-model="entity.storeModel.satMonthlyFees" ng-readonly="isReadOnly" /> <span
								class="input-group-addon">&euro;</span>
						</div>
					</div>
					<label class="col-sm-2 control-label input-sm">{{'commercialService' | translate}}</label>
					<div class="col-sm-2">
						<div class="input-group">
							<input type='text' class="form-control numeric-field" ng-model="entity.storeModel.commercialMonthlyFees" ng-readonly="isReadOnly" /> <span
								class="input-group-addon">&euro;</span>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</form>