<div class="m-top-15">
	<table class="table table-condensed">
		<tr class="active">
			<th>{{'concept' | translate}}</th>
			<th class="data-amount">{{'units' | translate}}</th>
			<th class="data-amount">{{'netAmount' | translate}}</th>
			<th class="data-amount">{{'vat' | translate}}</th>
			<th class="data-amount">{{'total' | translate}}</th>
			<th></th>
		</tr>
		<tr ng-repeat="detail in entity.liquidationDetails | filter: {liquidationIncluded: true}" ng-if="detail.concept != 'MANUAL'">
			<td>{{detail.name}}</td>
			<td class="data-amount">{{detail.units}}</td>
			<td class="data-amount">{{detail.netValue | abs}}</td>
			<td class="data-amount">{{detail.vatValue | abs}}</td>
			<td class="data-amount">{{detail.value}}</td>
			<td></td>
		</tr>
		<tr ng-repeat="detail in entity.liquidationDetails | filter: {liquidationIncluded: true}" ng-if="detail.concept == 'MANUAL'" class="text-info">
			<td>{{detail.name}}</td>
			<td class="data-amount">{{detail.units}}</td>
			<td class="data-amount">{{detail.netValue}}</td>
			<td class="data-amount">{{detail.vatValue}}</td>
			<td class="data-amount">{{detail.value}}</td>
			<td>
				<a ng-if="entity.currentState.stateDefinition.id == 'DRAFT'" ng-click="editLiquidationDetail(detail.id)">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
			</td>
		</tr>
		<tr class="active">
			<td><b>{{'total' | translate}}</b></td>
			<td></td>
			<td class="data-amount"><b>{{entity.liquidationTotalNetAmount}}</b></td>
			<td class="data-amount"><b>{{entity.liquidationTotalVat}}</b></td>
			<td class="data-amount"><b>{{entity.liquidationTotalAmount}}</b></td>
			<td></td>
		</tr>
		<tr ng-repeat="i in entity.billRawData | filter: { concept: 'Credit' }">
			<td><b>{{'credit' | translate}}</b></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="data-amount"><b>{{i.amount}}</b></td>
			<td></td>
		</tr>
		<tr>
			<td><b>{{'cashStoreAmount' | translate}}</b></td>
			<td></td>
			<td></td>
			<td></td>
			<td class="data-amount"><b>{{entity.storeCash}}</b></td>
			<td></td>
		</tr>
		<tr class="active" ng-if="entity.liquidationOuterAmount > 0">
			<td colspan="4"><b>Ajustes fuera de liquidación</b></td>
			<td class="data-amount"><b>{{entity.liquidationOuterAmount}}</b></td>
			<td></td>
		</tr>
		<tr ng-repeat="detail in entity.liquidationDetails | filter: {liquidationIncluded: false}" class="text-info">
			<td>{{detail.name}}</td>
			<td class="data-amount">{{detail.units}}</td>
			<td class="data-amount">-</td>
			<td class="data-amount">-</td>
			<td class="data-amount">{{detail.value}}</td>
			<td>
				<a ng-if="entity.currentState.stateDefinition.id == 'DRAFT'" ng-click="editLiquidationDetail(detail.id)">
					<span class="glyphicon glyphicon-pencil"></span>
				</a>
			</td>
		</tr>
	</table>
</div>
