<div class="btn-toolbar m-top-40" role="toolbar">
	<button
		ng-click="editLiquidationDetail()"
		ng-if="entity.currentState.stateDefinition.id == 'DRAFT'"
		class='btn btn-sm btn-primary'
		ng-disabled="isSaving">{{'addAdjustment' | translate}}</button>
	<button
		ng-click="rectify()"
		ng-if="entity.currentState.stateDefinition.id == 'CONFIRMED'"
		class='btn btn-sm btn-primary'
		ng-disabled="isSaving">{{'rectify' | translate}}</button>
	<a
		class="btn btn-primary btn-sm"
		ng-if="entity.currentState.stateDefinition.id == 'DRAFT' || entity.currentState.stateDefinition.id == 'INITIAL'"
		href="rest/bills/draft/liquidation-detail/{{entity.id}}"
		role="button"
		ng-disabled="isSaving">{{'viewDraft' | translate}}</a>
	<a
		class="btn btn-primary btn-sm"
		ng-if="entity.currentState.stateDefinition.id != 'DRAFT' || entity.liquidationDetailFile != null"
		href="rest/binary/download/{{entity.liquidationDetailFile.id}}"
		role="button"
		ng-disabled="isSaving">{{'download' | translate}}</a>
	<button
		ng-click="draft()"
		ng-if="entity.currentState.stateDefinition.id == 'CONFIRMED' || entity.currentState.stateDefinition.id == 'SENT' || entity.currentState.stateDefinition.id == 'RECTIFIED'"
		class='btn btn-sm btn-primary'
		ng-disabled="isSaving">{{'convertToDraft' | translate}}</button>
	<button
		ng-click="confirm()"
		ng-if="entity.currentState.stateDefinition.id == 'DRAFT'"
		class='btn btn-sm btn-success pull-right'
		ng-disabled="isSaving">{{'confirmDraft' | translate}}</button>
	<button
		ng-click="recalculate()"
		ng-if="checkRole(['ADMIN', 'OPERATOR']) && entity.currentState.stateDefinition.id == 'DRAFT' || entity.currentState.stateDefinition.id == 'INITIAL'"
		class='btn btn-sm btn-success pull-right'
		ng-disabled="isSaving" >{{'recalculate' | translate}}</button>
	<button
		ng-click="editSendMail()"
		ng-if="entity.currentState.stateDefinition.id == 'CONFIRMED' || entity.currentState.stateDefinition.id == 'SENT'"
		class='btn btn-sm btn-success pull-right'
		ng-disabled="isSaving">{{'send' | translate}}</button>
</div>