<div>
	<table class="table table-condensed table-bordered">
		<thead>
			<tr class="active">
				<th>Nombre</th>
				<th>Concepto</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>Ventas</td>
				<td>Apostado - Cancelado</td>
			</tr>
			<tr>
				<td>GGR</td>
				<td>Ventas - Imponible</td>
			</tr>
			<tr>
				<td>NGR</td>
				<td>GGR - <a href="#/taxes">Tasa de juego</a> (porcentaje del GGR aplicado por comunidad)</td>
			</tr>
			<tr>
				<td>NR</td>
				<td>NGR - gastos de co-explotación</td>
			</tr>
			<tr>
				<td>Saldo de caja</td>
				<td>Ventas - Premiado + Crédito</td>
			</tr>
			<tr>
				<td>SAT (Servicio de Atención al Cliente)</td>
				<td>Concepto fijo que se añade para cada establecimiento al importe de liquidación</td>
			</tr>
			<tr>
				<td>Coste por ubicación</td>
				<td>Concepto fijo que se resta para cada establecimiento al importe de liquidación</td>
			</tr>
			<tr>
				<td>Atención comercial</td>
				<td>Concepto fijo que se añade para cada establecimiento al importe de liquidación</td>
			</tr>
		</tbody>
	</table>
</div>