<div class="panel panel-default" ng-hide="close">
	<div class="panel-heading"><span class=" glyphicon glyphicon-warning-sign"></span> {{'dashboardPendingLiquidations' | translate}}
		<button type="button btn-sm" class="close" ng-click="close=true">
			<span class=" glyphicon glyphicon-remove"></span>
		</button>
		<button type="button btn-sm" class="close" ng-click="collapse=!collapse">
			<span class="glyphicon glyphicon-minus"></span>
		</button>
	</div>
	<div class="panel-body" collapse="collapse">
		<table class="table table-condensed">
			<thead>
				<tr>
					<th>{{'sender' | translate}}</th>
					<th>{{'receiver' | translate}}</th>
					<th>{{'date' | translate}}</th>
					<th>{{'amount' | translate}}</th>
					<th></th>
				</tr>
			</thead>
			<tbody>
				<tr class="animate-pagination" ng-repeat="liquidation in searchResults.results">
					<td>{{liquidation.sender.name}}</td>
					<td>{{liquidation.receiver.name}}</td>
					<td>{{liquidation.billDate | limitTo: 10}}</td>
					<td>{{liquidation.liquidationResults.effectiveLiquidationAmount}}</td>
					<td><a href="#/liquidations/id/{liquidation.id}}">{{'view' | translate}}</a></td>
				</tr>
			</tbody>
		</table>
		<search-result-pagination></search-result-pagination>
	</div>
</div>
