
<div class="panel panel-default" ng-hide="close">
	<div class="panel-heading">
		{{panelName}}
		<button type="button btn-sm" class="close" ng-click="close=true">
			<span class=" glyphicon glyphicon-remove"></span>
		</button>
		<button type="button btn-sm" class="close" ng-click="collapse=!collapse">
			<span class="glyphicon glyphicon-minus"></span>
		</button>
	</div>
	<div class="panel-body" collapse="collapse">
		<div class="row">
			<div class="col-sm-5">
				<div ng-show="hasData">
					<canvas tc-chartjs chart-type="doughnut" chart-data="myData" chart-options="myOptions" chart-legend="legend" width="180" height="180"></canvas>
				</div>
				<div ng-show="!hasData" class="center top-5">
					<label>{{'dashboardNoData' | translate}}</label>
				</div>
			</div>
			<div class="col-sm-7">
				<div chart-year ng-model="year"></div>
				<div tc-chartjs-legend chart-legend="legend"></div>
			</div>
		</div>
	</div>
</div>
