<div>
	<div class="row">
		<div class="col-sm-12">
			<h4>
				<span class="glyphicon glyphicon-file text-muted"></span> <span>{{'dashboard' | translate}}</span>
			</h4>

			<div dashboard-pending-liquidations rest-path="/dashboard/contract/pending"></div>
			
			<div class="row">
				<div class="col-sm-12">
					<form class="form">
						<div class="form-group col-sm-4"> 
							<label>{{'company' | translate}}</label>
							<div company ng-model="company"></div>
						</div>
						<div class="form-group col-sm-4">
							<label>{{'year' | translate}}</label>
							<select class="form-control" ng-model="year">
								<!-- todo leer de rest service el rango -->
								<option value="2015">2016</option>
								<option value="2015">2015</option>
								<option value="2014">2014</option>
							</select>
						</div>
						<div class="form-group col-sm-4">
							<label>{{'month' | translate}}</label>
							<select class="form-control" ng-model="month">
								<option value="1">Enero</option>
								<option value="2">Febrero</option>
								<option value="3">Marzo</option>
								<option value="4">Abril</option>
								<option value="5">Mayo</option>
								<option value="6">Junio</option>
								<option value="7">Julio</option>
								<option value="8">Agosto</option>
								<option value="9">Septiembre</option>
								<option value="10">Octubre</option>
								<option value="11">Noviembre</option>
								<option value="12">Diciembre</option>
							</select>
						</div>
					</form>
				</div>
			</div>

			<div bar-line-chart
				rest-path="rest/dashboard/company/evolution"
				chart-type="bar"
				source-company="company"
				source-year="year"
				panel-name="{{'dashboardCompanyEvolutionAmount' | translate}}"></div>

			<div class="row">
				<div class="col-sm-6">
					<div
						pie-chart
						rest-path="rest/dashboard/company/storeDistribution"
						source-company="company"
						source-year="year"
						source-month="month"
						panel-name="{{'dashboardStoreMonthDistributionPositive' | translate}}"></div>
					<div class="clearfix"></div>
				</div>
				<div class="col-sm-6">
					<div pie-chart
						rest-path="rest/dashboard/company/storeDistribution/negative"
						source-company="company"
						source-year="year"
						source-month="month"
						panel-name="{{'dashboardStoreMonthDistributionNegative' | translate}}"></div>
					<div class="clearfix"></div>
				</div>
			</div>

			<div class="row">
				<div class="col-sm-6">
					<div pie-chart
						rest-path="rest/dashboard/company/storeDistributionAnual"
						source-company="company"
						source-year="year"
						panel-name="{{'dashboardStoreYearDistributionPositive' | translate}}"></div>
					<div class="clearfix"></div>
				</div>
				<div class="col-sm-6">
					<div
						pie-chart
						rest-path="rest/dashboard/company/storeDistributionAnual/negative"
						source-company="company"
						source-year="year"
						source-month="month"
						panel-name="{{'dashboardStoreYearDistributionNegative' | translate}}"></div>
					<div class="clearfix"></div>
				</div>
			</div>
		</div>

	</div>
</div>