
<div class="panel panel-info" ng-hide="close">
	<div class="panel-heading"><span class=" glyphicon glyphicon-warning-sign"></span> {{'dashboardAlertBills' | translate}}
		<button type="button btn-sm" class="close" ng-click="close=true">
			<span class=" glyphicon glyphicon-remove"></span>
		</button>
		<button type="button btn-sm" class="close" ng-click="collapse=!collapse">
			<span class="glyphicon glyphicon-minus"></span>
		</button>
	</div>
	<div class="panel-body" collapse="collapse">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>#</th>
					<th>{{'company' | translate}}</th>
					<th>{{'store' | translate}}</th>
					<th>{{'alert.title' | translate}}</th>
				</tr>
			</thead>
			<tbody>
				<tr class="animate-pagination" ng-repeat="alert in searchResults.results">
					<td>{{(searchResults.currentPage - 1) * searchResults.itemsPerPage + $index + 1}}</td>
					<td>{{alert.agreementCode}}</td>
					<td><a href="#contract/view/{{alert.contractId}}">{{alert.contractDraftNumber}}</a></td>
					<td>{{alert.title | translate}}</td>
				</tr>
			</tbody>
		</table>
		<search-result-pagination></search-result-pagination>
	</div>
</div>
