[global]

app-name=Facturador
security.password-digest-algoritm=SHA-256
security.session-expiration-minutes=0
default-liquidation-receiver-name=EGASA HATTRICK S.A.

[jpa-biller]

javax.persistence.jdbc.url=jdbc:mysql://37.187.153.76:13306/pre-biller?characterEncoding=utf8&amp;useUnicode=true
javax.persistence.jdbc.user=luis.cabrera
javax.persistence.jdbc.password=3CVXzG&s
javax.persistence.jdbc.driver=com.mysql.jdbc.Driver
eclipselink.ddl-generation.output-mode=database
eclipselink.query-results-cache=false
eclipselink.connection-pool.min=5
eclipselink.connection-pool.max=20
eclipselink.logging.level=fine
eclipselink.session.customizer=com.luckia.biller.core.jpa.CustomSessionCustomizer
eclipselink.weaving=static

[jpa-lis]

javax.persistence.jdbc.url=jdbc:mysql://37.187.153.76:13306/lis_ht
javax.persistence.jdbc.user=luis.cabrera
javax.persistence.jdbc.password=3CVXzG&s
javax.persistence.jdbc.driver=com.mysql.jdbc.Driver
eclipselink.connection-pool.min=5
eclipselink.connection-pool.max=20