<!DOCTYPE html>
<html lang="en" ng-app="billerModule">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="">
<meta name="author" content="">
<link rel="shortcut icon" href="images/favicon.png">
<title>{{'biller' | translate}}</title>
<link href="css/bootstrap-theme.css" rel="stylesheet">
<link href="css/bootstrap-theme.css.map" rel="stylesheet">
<link href="css/bootstrap-unity.min.css" rel="stylesheet">
<link href="css/app.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<div class="navbar navbar-default_excluded" role="navigation">
			<div class="container-fluid">
				<div class="navbar-header">
					<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
						<span class="sr-only">Toggle navigation</span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
						<span class="icon-bar"></span>
					</button>
					<a class="navbar-brand" href="#/">{{'appName' | translate}}</a>
				</div>
				<div class="navbar-collapse collapse">
					<ul class="nav navbar-nav">
						<li class="dropdown">
							<a href="" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-file" aria-hidden="true"></span><span> {{'billing' | translate}} <b class="caret"></b></span></a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">{{'billing' | translate}}</li>
								<li><a href="#/bills">{{'bills' | translate}}</a></li>
								<li><a href="#/liquidations">{{'liquidations' | translate}}</a></li>
								<li class="divider"></li>
								<li><a href="#/rappel/stores">{{'storeRappels' | translate}}</a></li>
								<li class="divider"></li>
								<li><a href="#/models">{{'billingModels' | translate}}</a></li>
							</ul>
						</li>
						<li class="dropdown">
							<a href="" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-th" aria-hidden="true"></span><span> {{'entities' | translate}} <b class="caret"></b></span></a>
							<ul class="dropdown-menu">
								<li class="dropdown-header">{{'companies' | translate}}</li>
								<li><a href="#/groups">{{'companyGroups' | translate}}</a></li>
								<li><a href="#/companies">{{'companies' | translate}}</a></li>
								<li><a href="#/costcenters">{{'costCenters' | translate}}</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">{{'stores' | translate}}</li>
								<li><a href="#/stores">{{'stores' | translate}}</a></li>
								<li><a href="#/owners">{{'owners' | translate}}</a></li>
								<li><a href="#/terminals">{{'terminals' | translate}}</a></li>
								<li class="divider"></li>
								<li class="dropdown-header">{{'taxes' | translate}}</li>
								<li><a href="#/taxes">{{'gameFeesAndVat' | translate}}</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-signal" aria-hidden="true"></span><span> {{'reports' | translate}} <b class="caret"></b></span></a>
							<ul class="dropdown-menu">
								<li><a href="#/reports/terminals">{{'terminals' | translate}}</a></li>
								<li><a href="#/reports/liquidations">{{'liquidations' | translate}}</a></li>
								<li><a href="#/reports/liquidations-summary">{{'liquidationsSummary' | translate}}</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-dashboard" aria-hidden="true"></span><span> {{'dashboard' | translate}} <b class="caret"></b></span></a>
							<ul class="dropdown-menu">
								<li><a href="#/dashboard/companies">{{'companies' | translate}}</a></li>
							</ul>
						</li>
						<li class="dropdown"><a href="" class="dropdown-toggle" data-toggle="dropdown">
							<span class="glyphicon glyphicon-cog" aria-hidden="true"></span><span> {{'admin' | translate}} <b class="caret"></b></span></a>
							<ul class="dropdown-menu">
								<li><a href="#/admin/recalculate/bill">{{'billRecalculation' | translate}}</a></li>
								<li><a href="#/admin/user-activity">{{'userActivityTitle' | translate}}</a></li>
								<li><a href="#/admin/scheduler">{{'scheduler' | translate}}</a></li>
							</ul>
						</li>
					</ul>
					<ul class="nav navbar-nav navbar-right">
						<li class="dropdown" ng-controller="LanguageCtrl">
							<a href="#" class="dropdown-toggle" role="button" aria-expanded="false">
								<span class="hidden-xs hidden-sm">{{getLanguage() | translate}}</span><span class="caret"></span>
							</a>
							<ul class="dropdown-menu" role="menu">
								<li><a ng-click="changeLanguage('es')" ng-class="{'active' : getLanguage() == 'es'}">{{'language.es' | translate}}</a></li>
								<li><a ng-click="changeLanguage('en')" ng-class="{'active' : getLanguage() == 'en'}">{{'language.en' | translate}}</a></li>
								<li><a ng-click="changeLanguage('ga')" ng-class="{'active' : getLanguage() == 'ga'}">{{'language.ga' | translate}}</a></li>
							</ul>
						</li>
						<li ng-if="user != null" class="droopdown">
							<a href="#" class="dropdown-toggle" role="button" aria-expanded="false">{{user.name}} <span class="caret"></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a ng-click="logout()"><span class="glyphicon glyphicon-off" aria-hidden="true"></span> {{'logout' | translate}}</a>
								</li>
								<li>
									<a href="#/profile"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{'profile' | translate}}</a>
								</li>
							</ul>
						</li>
						<li ng-if="user == null"><a href="#/login">{{'login' | translate}}</a></li>
						
					</ul>
				</div>
			</div>
		</div>
		<div ng-view></div>
		<hr>
		<footer class="m-top-40">
			<p>{{'footerTitle' | translate}} <small class="col-sm-offset-1">{{'appVersion' | translate}}</small></p>
		</footer>
	</div>
	<script src="lib/angular/angular.min.js"></script>
	<script src="lib/angular/angular-resource.min.js"></script>
	<script src="lib/angular/angular-route.min.js"></script>
	<script src="lib/angular/angular-sanitize.min.js"></script>
	<script src="lib/angular/angular-cookies.min.js"></script>
	<script src="lib/angular/tc-angular-chartjs.min.js"></script>
	<script src="lib/angular-dialog/dialogs.min.js"></script>
	<script src="lib/translate/angular-translate.min.js"></script>
	<script src="lib/translate/angular-translate-loader-static-files.min.js"></script>
	<script src="lib/translate/angular-translate-loader-url.min.js"></script>
	<script src="lib/jquery/jquery-1.11.0.js"></script>
	<script src="lib/bootstrap/bootstrap.js"></script>
	<script src="lib/bootstrap-ui/ui-bootstrap-tpls-0.10.0.js"></script>
	<script src="lib/chart.min.js"></script>
	<script src="js/global.jsp"></script>
	<script src="js/app.js"></script>
	<script src="js/directives.js"></script>
	<script src="js/controllers/bill-ctrl.js"></script>
	<script src="js/controllers/terminal-ctrl.js"></script>
	<script src="js/controllers/store-ctrl.js"></script>
	<script src="js/controllers/company-ctrl.js"></script>
	<script src="js/controllers/company-group-ctrl.js"></script>
	<script src="js/controllers/admin-ctrl.js"></script>
	<script src="js/controllers/billing-model-ctrl.js"></script>
	<script src="js/controllers/cost-center-ctrl.js"></script>
	<script src="js/controllers/reporting-ctrl.js"></script>
	<script src="js/controllers/taxes-ctrl.js"></script>
	<script src="js/controllers/bill-recalculation-ctrl.js"></script>
	<script src="js/controllers/liquidation-ctrl.js"></script>
	<script src="js/controllers/owner-ctrl.js"></script>
	<script src="js/controllers/users-ctrl.js"></script>
	<script src="js/controllers/dashboard-ctrl.js"></script>
</body>
</html>
