<div class="modal fade" id="editBillLiquidationConceptModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				<h4 class="modal-title">{{'liquidationDetailEdit' | translate}}</h4>
			</div>
			<div class="modal-body">
				<form class="form-horizontal" role="form">
					<div class="form-group">
						<label class="col-sm-2 control-label">{{'type' | translate}}</label>
						<div class="col-sm-8">
							<select class="form-control"
								ng-model="detail.dummyType"
								ng-change="detail.name = (detail.dummyType == 'OTHER' ? '' : detail.dummyType)">
								<option value="{{'rappel' | translate}}">{{'rappel' | translate}}</option>
								<option value="{{'credit' | translate}}">{{'credit' | translate}}</option>
								<option value="{{'loanRecovery' | translate}}">{{'loanRecovery' | translate}}</option>
								<option value="{{'robbery' | translate}}">{{'robbery' | translate}}</option>
								<option value="OTHER">{{'other' | translate}}</option>
							</select>
						</div>
					</div>
					<div class="form-group" ng-if="detail.dummyType == 'OTHER'">
						<label class="col-sm-2 control-label">{{'name' | translate}}</label>
						<div class="col-sm-8">
							<input type='text' class="form-control" ng-model="detail.name" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{'units' | translate}}</label>
						<div class="col-sm-4">
							<number-only-input input-value="detail.units" />
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label">{{'amount' | translate}}</label>
						<div class="col-sm-4">
							<number-only-input input-value="detail.value"/>
						</div>
					</div>
					<div class="form-group">
						<div class="col-sm-8 col-sm-offset-2">
							<div class="checkbox">
								<label><input type="checkbox" ng-model="detail.liquidationIncluded">{{'liquidationIncluded' | translate}}</label>
							</div>
						</div>
					</div>
					<pre>{{detail | json}}</pre>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-sm" ng-disabled="isSaving" data-dismiss="modal">{{'cancel' | translate}}</button>
				<button type="button" class="btn btn-default btn-sm" ng-click="removeLiquidationDetail(detail.id)" ng-if="detail.id != null" ng-disabled="isSaving">{{'remove' | translate}}</button>
				<button type="button" class="btn btn-success btn-sm" ng-click="mergeLiquidationDetail()" ng-disabled="isSaving">{{'save' | translate}}</button>
			</div>
		</div>
	</div>
</div>