<div class="m-top-15">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-2 control-label">{{'user' | translate}}</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" ng-model="entity.auditData.modifiedBy.name" disabled="true">
			</div>
			<label class="col-sm-2 control-label">{{'created' | translate}}</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" ng-model="entity.auditData.created" ng-disabled="true">
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">{{'modified' | translate}}</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" ng-model="entity.auditData.modified" ng-disabled="true">
			</div>
			<label class="col-sm-2 control-label">{{'deleted' | translate}}</label>
			<div class="col-sm-4">
				<input type="text" class="form-control" ng-model="entity.auditData.deleted" ng-disabled="true">
			</div>
		</div>
	</form>
</div>