<div class="btn-toolbar" role="toolbar">
	<div class="btn-group">
		<button ng-click="edit()" ng-class='isReadOnly ? "btn btn-sm btn-primary" : "btn btn-sm btn-default"' ng-disabled="!isSaving && !isReadOnly">{{'edit' | translate}}</button>
		<button ng-click="load()" ng-class='isReadOnly ? "btn btn-sm btn-default" : "btn btn-sm btn-primary"' ng-disabled="isSaving || isReadOnly" title="{{'refresh' | translate}}"><span class="glyphicon glyphicon-refresh"></span></button>
		<button ng-click="update()" ng-class='isReadOnly ? "btn btn-sm btn-default" : "btn btn-sm btn-primary"' ng-disabled="isSaving || isReadOnly" title="{{'save' | translate}}"><span class="glyphicon glyphicon-floppy-save"></span></button>
		<button ng-click="remove()" ng-class='isReadOnly ? "btn btn-sm btn-default" : "btn btn-sm btn-primary"' ng-disabled="isSaving || isReadOnly" title="{{'remove' | translate}}"><span class="glyphicon glyphicon-trash"></span></button>
	</div>
</div>
