<div class="m-top-15">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-2 control-label input-sm">Usuario</label>
			<div class="col-sm-4">
				<input type='text' class="form-control input-sm" ng-model="entity.auditData.modifiedBy.name" disabled="true" />
			</div>
			<label class="col-sm-2 control-label input-sm">Creado</label>
			<div class="col-sm-4">
				<input calendar-real ng-model="entity.auditData.created" disabled="true" />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label input-sm">Modificado</label>
			<div class="col-sm-4">
				<input calendar-real ng-model="entity.auditData.modified" disabled="true" />
			</div>
			<label class="col-sm-2 control-label input-sm">Eliminado</label>
			<div class="col-sm-4">
				<input calendar-real ng-model="entity.auditData.deleted" disabled="true" />
			</div>
		</div>
	</form>
</div>