<div class="m-top-15">
	<form class="form-horizontal" role="form">
		<div class="form-group">
			<label class="col-sm-2 control-label">Titular</label>
			<div class="col-sm-4">
				<div class="input-group">
					<input type='text' class="form-control" ng-model="entity.owner" ng-readonly="isReadOnly" typeahead="owner as owner.completeName for owner in owners($viewValue)" />
					<span  class="input-group-addon">
						<a ng-if="entity.owner != null" href="#/owners/id/{{entity.owner.id}}"><span class="glyphicon glyphicon-search"></span></a>
						<span ng-if="entity.owner == null" class="glyphicon glyphicon-search"></span>
					</span>
				</div>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">NIF</label>
			<div class="col-sm-4">
				<input type='text' class="form-control" ng-model="entity.owner.idCard.number" ng-readonly="true"  />
			</div>
			<label class="col-sm-2 control-label">Email</label>
			<div class="col-sm-4">
				<input type='text' class="form-control" ng-model="entity.owner.email" ng-readonly="true"  />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Provincia</label>
			<div class="col-sm-4">
				<input type='text' class="form-control" ng-model="entity.owner.address.province.name" ng-readonly="true"  />
			</div>
			<label class="col-sm-2 control-label">Localidad</label>
			<div class="col-sm-4">
				<input type='text' class="form-control" ng-model="entity.owner.address.region.name" ng-readonly="true"  />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">Direcci&oacute;n</label>
			<div class="col-sm-4">
				<input type='text' class="form-control" ng-model="entity.owner.address.road" ng-readonly="true"  />
			</div>
			<label class="col-sm-2 control-label">N&uacute;mero</label>
			<div class="col-sm-4">
				<input type='text' class="form-control" ng-model="entity.owner.address.number" ng-readonly="true"  />
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label">C&oacute;digo postal</label>
			<div class="col-sm-4">
				<input type='text' class="form-control" ng-model="entity.owner.address.zipCode" ng-readonly="true"  />
			</div>
		</div>
	</form>
</div>