<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
</head>
<body>
<div class="row">

	<div class="col-sm-9">
		<h4>Par&aacute;metros de configuraci&oacute;n</h4>
		<div class="m-top-15">
		
			<ul class="nav nav-tabs">
				<li class="active"><a data-target="#billingTab" data-toggle="tab">Facturaci&oacute;n</a></li>
				<li><a data-target="#mailTab" data-toggle="tab">Correo</a></li>
				<li><a data-target="#repoTab" data-toggle="tab">Sistema</a></li>
			</ul>
	
			<!-- Tab panes -->
			<div class="tab-content">
				<div class="tab-pane active" id="billingTab">
					<div class="m-top-15">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label input-sm">Entidad emisora</label>
								<div class="col-sm-4">
									<input type='text' class="form-control" ng-model="entity.x" ng-readonly="isReadOnly" typeahead="owner as owner.completeName for owner in owners($viewValue)" />									
								</div>
								<div class="col-sm-5">
										<span class="help-block">Este valor define quien aparece como emisor de las facturas generadas por la aplicaci&oacute;n</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label input-sm">IVA</label>
								<div class="col-sm-4">
									<input type='text' class="form-control data-amount" ng-model="billingSettings.values.vat" ng-readonly="isReadOnly" typeahead="owner as owner.completeName for owner in owners($viewValue)" />
								</div>
								<div class="col-sm-5">
									<span class="help-block">Porcentaje del IVA utilizado para generar las facturas</span>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="tab-pane" id="mailTab">
					<div class="m-top-15">
						<form class="form-horizontal" role="form">
							<div class="form-group">
								<label class="col-sm-2 control-label">Usuario</label>
								<div class="col-sm-4">
									<div class="input-group">
										<input type='text' class="form-control input-sm" ng-model="entity.x" ng-readonly="isReadOnly" typeahead="owner as owner.completeName for owner in owners($viewValue)" />
										<span class="help-block"></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label">Password</label>
								<div class="col-sm-4">
									<div class="input-group">
										<input type='text' class="form-control input-sm" ng-model="entity.y" ng-readonly="isReadOnly" typeahead="owner as owner.completeName for owner in owners($viewValue)" />
										<span class="help-block"></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label input-sm">Host</label>
								<div class="col-sm-4">
									<div class="input-group">
										<input type='text' class="form-control input-sm" ng-model="mailSettings.hostName" ng-readonly="isReadOnly" typeahead="owner as owner.completeName for owner in owners($viewValue)" />
										<span class="help-block"></span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label input-sm">Nombre</label>
								<div class="col-sm-4">
									<div class="input-group">
										<input type='text' class="form-control input-sm" ng-model="entity.y" ng-readonly="isReadOnly" typeahead="owner as owner.completeName for owner in owners($viewValue)" />
										<span class="help-block">Valor que aparecer&aacute; como texto del emisor</span>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-2 control-label input-sm">Uso de SSL</label>
								<div class="col-sm-4">
									<div class="input-group">
										<input type='text' class="form-control input-sm" ng-model="entity.y" ng-readonly="isReadOnly" typeahead="owner as owner.completeName for owner in owners($viewValue)" />
										<span class="help-block">Valor que aparecer&aacute; como texto del emisor</span>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
				<div class="tab-pane" id="repoTab">
					<div class="m-top-15">
					</div>
				</div>
			</div>
			
			<h3>DEBUG</h3>
			<pre>MAIL:{{mailSettings|json}}</pre>
			<pre>SYSTEM:{{systemSettings|json}}</pre>
			<pre>BILLING:{{billingSettings|json}}</pre>
		</div>
	</div>

	<div class="col-sm-3">
		<div ng-include src="'templates/entity-toolbar.html'"></div>
		<h4>Consultas</h4>
		<ul class="list-unstyled">
			<li><a href="#">Entidades que aplican este modelo</a></li>
			<li><a href="#">Facturas emitidas con este modelo</a></li>
		</ul>
		<!-- popup con el json de debug -->
		<div class="m-top-40">
			<button class="btn btn-default btn-sm" data-toggle="modal" data-target="#debugJson">Ver JSON</button>
			<div class="modal fade" id="debugJson" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="modal-dialog">
					<div class="modal-content">
						<pre>entity = {{entity | json}}</pre>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
</body>
</html>